<div class="flex h-full flex-col items-center gap-4 rounded-xl bg-white p-2 md:h-auto md:flex-row">
    <form
        [formGroup]="flightForm"
        class="mt-20 flex h-full w-full flex-col justify-between rounded-xl border-2 border-gray-200 p-2 md:mt-0 md:flex-row"
    >
        <div class="ml-16 md:ml-0">
            <div formArrayName="cities">
                @for (city of cities.controls; track $index) {
                    <div
                        [formGroupName]="$index"
                        class="mb-2 flex w-full flex-col items-center justify-between gap-4 md:flex-row"
                    >
                        <div class="flex flex-row items-center justify-center">
                            <div class="card flex justify-center">
                                <p-select
                                    [options]="groupedCities"
                                    formControlName="from"
                                    placeholder="From"
                                    [group]="true"
                                    class="w-32 border-none shadow-none"
                                    [dropdownIcon]="'none'"
                                >
                                </p-select>
                            </div>
                            <i class="pi pi-arrow-up-right z-10 -ml-5 mr-6"></i>
                            <div class="card flex justify-center">
                                <p-select
                                    [options]="groupedCities"
                                    formControlName="to"
                                    placeholder="To"
                                    [group]="true"
                                    class="w-32 border-none shadow-none"
                                    [dropdownIcon]="'none'"
                                >
                                </p-select>
                            </div>
                            <div
                                class="z-10 -ml-7 mr-6 hidden h-8 border border-gray-300 md:flex"
                            ></div>
                        </div>

                        <div class="-ml-20 flex flex-row items-center justify-center md:ml-0">
                            <p-datepicker
                                formControlName="departure"
                                placeholder="Departure"
                                class="w-36"
                            ></p-datepicker>

                            <button
                                type="button"
                                (click)="addCity()"
                                class="btn-primary flex items-center gap-2 rounded-lg bg-blue-500 px-4 py-2 text-white shadow-sm"
                            >
                                <i class="pi pi-plus"></i>
                            </button>

                            @if (cities.length > 1) {
                                <button
                                    type="button"
                                    (click)="removeCity($index)"
                                    class="btn-secondary ml-2 rounded-lg bg-red-500 px-3 py-1 text-white"
                                >
                                    <i class="pi pi-trash"></i>
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="mx-6 hidden min-h-8 border border-gray-300 md:flex"></div>

        <!-- <div class="ml-10 mr-6 flex items-center md:ml-0 md:mt-0">
            <div>
                <input
                    type="number"
                    formControlName="adults"
                    class="h-10 w-20 rounded-md outline-none"
                    placeholder="Adults"
                />
                <input
                    type="number"
                    formControlName="children"
                    class="ml-2 h-10 w-20 rounded-md outline-none"
                    placeholder="Children"
                />
            </div>
        </div> -->

        <div class="relative mt-3 flex flex-1 justify-center">
            <div class="">
                <button (click)="toggleInputs()" class="flex text-gray-700">
                    Passengers <span class="ml-2">&#9662;</span>
                </button>
                <div
                    [ngClass]="{ hidden: !showInputs }"
                    class="absolute z-10 -ml-20 mt-5 flex min-w-64 flex-col gap-2 space-y-2 rounded-md border border-gray-300 bg-white p-4"
                >
                    <div class="flex items-center justify-between gap-4">
                        <div class="text-md text-[#595959]">
                            Adults <br />
                            <span class="text-sm text-gray-400">> 12 Years</span>
                        </div>
                        <div class="flex flex-row items-center justify-center gap-2">
                            <button
                                (click)="decrease('adults')"
                                [disabled]="adults === 0"
                                class="rounded px-[9px] text-gray-700"
                                [ngClass]="{
                                    'bg-gray-300': adults === 0,
                                    'btn-primary': totalGuests <= 9 && adults !== 0,
                                }"
                            >
                                -
                                <!-- <i class="pi-minus"></i> -->
                            </button>
                            <div class="text-[#595959]">{{ adults }}</div>

                            <button
                                (click)="increase('adults')"
                                [disabled]="totalGuests >= 9"
                                class="rounded px-[7px] text-white"
                                [ngClass]="{
                                    'bg-gray-300': totalGuests >= 9,
                                    'btn-primary': totalGuests < 9,
                                }"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-4">
                        <div class="text-md text-[#595959]">
                            Children <br />
                            <span class="text-sm text-gray-400">2-12 Years</span>
                        </div>
                        <div class="flex flex-row items-center justify-center gap-2">
                            <button
                                (click)="decrease('children')"
                                [disabled]="children === 0"
                                class="rounded px-[9px] text-gray-700"
                                [ngClass]="{
                                    'bg-gray-300': children === 0,
                                    'btn-primary': totalGuests <= 9 && children !== 0,
                                }"
                            >
                                -
                                <!-- <i class="pi-minus"></i> -->
                            </button>
                            <div class="text-[#595959]">{{ children }}</div>

                            <button
                                (click)="increase('children')"
                                [disabled]="totalGuests >= 9"
                                class="rounded px-[7px] text-white"
                                [ngClass]="{
                                    'bg-gray-300': totalGuests >= 9,
                                    'btn-primary': totalGuests < 9,
                                }"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-4">
                        <div class="text-md text-[#595959]">
                            Infants <br /><span class="text-sm text-gray-400"> < 2 Years</span>
                        </div>
                        <div class="flex flex-row items-center justify-center gap-2">
                            <button
                                (click)="decrease('infants')"
                                [disabled]="infants === 0"
                                class="rounded px-[9px] text-gray-700"
                                [ngClass]="{
                                    'bg-gray-300': infants === 0,
                                    'btn-primary': totalGuests <= 9 && infants !== 0,
                                }"
                            >
                                -
                                <!-- <i class="pi-minus"></i> -->
                            </button>
                            <div class="text-[#595959]">{{ infants }}</div>

                            <button
                                (click)="increase('infants')"
                                [disabled]="totalGuests >= 9"
                                class="rounded px-[7px] text-white"
                                [ngClass]="{
                                    'bg-gray-300': totalGuests >= 9,
                                    'btn-primary': totalGuests < 9,
                                }"
                            >
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="mb-7 mt-6 flex h-10 md:-mt-[75px]">
            <form [formGroup]="flightForm">
                <div class="mb z-50 flex flex-row items-center gap-1">
                    <div>
                        <input
                            pInputText
                            id="promocode"
                            class="h-10 w-32 flex-auto rounded-3xl border p-2 text-center"
                            autocomplete="off"
                            formControlName="promocode"
                            placeholder="Promo Code"
                            (input)="validatePromoCode()"
                        />
                        @if (promoCodeError) {
                            <p class="text-sm text-red-500">{{ promoCodeError }}</p>
                        }
                    </div>
                    <div
                        class="flex w-12 justify-end gap-2"
                        [ngClass]="{ '-mt-6': promoCodeError.length > 0 }"
                    >
                        <p-button
                            type="Submit"
                            styleClass="pi pi-arrow-right btn-primary text-[15px] py-[9px] mt-[2px]"
                            (click)="visible = false"
                            [disabled]="!isPromoValid"
                        />
                    </div>
                </div>
            </form>
        </div>
        <div
            class="btn-primary mt-4 flex h-16 w-48 cursor-pointer items-center justify-center gap-2 rounded-full px-4 shadow-sm md:mt-0"
            (click)="searchFlights()"
        >
            <i class="pi pi-search"></i>
            <button type="button">Search Flights</button>
        </div>
    </div>
</div>
