<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container">
            <h1 class="title text-3xl font-bold italic md:text-5xl">Terms and Conditions</h1>
        </div>
    </div>
</div>
<div class="container relative -mt-16 md:-mt-36">
    <div class="my-8">
        <h1 class="sub-title">Ticket Terms and Conditions</h1>
    </div>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            As used in this contract "ticket" means this passenger ticket and baggage check or this
            itinerary/receipt if applicable, in the case of an electronic ticket of which these
            conditions and the notices form part, "carriage" is equivalent "transportation",
            "carrier" means all air carriers that carry or undertake to carry the passenger or his
            baggage hereunder or perform any other service incidental to such air carriage,
            "electronic ticket" means the Itinerary/Receipt issued by or on behalf of Carrier, the
            Electronic Coupons and, if applicable, a boarding document. "We" or "us" means NOVOAIR.
            "Warsaw Convention" means the Convention for the Unification of Certain Rules Relating
            to International Carriage by Air signed at Warsaw, 12th October 1929, or that Convention
            as amended at The Hague, 28th September 1955, whichever may be applicable.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Before leaving the airport baggage that has been checked during boarding will be
            delivered to the bearer of the baggage check. If your baggage is damaged or lost, you
            must report in writing to us immediately on arrival. No complaint will be deemed valid
            otherwise.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            This ticket is good for carriage for 90 days/mentioned in the ticket from the date of
            issue, in carrier's tariffs conditions of carriage, or related regulations. The fare for
            carriage hereunder is subject to change prior to commencement of carriage. Carrier may
            refuse transportation if the applicable fare has not been paid.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            We undertake to ensure our best efforts to carry you and your baggage with reasonable
            dispatch. Times shown in timetables or elsewhere are not guaranteed and form no part of
            this contract. We may without notice substitute alternate carriers or aircraft and may
            alter or omit stopping places shown on the ticket in case of necessity. Schedules are
            subject to change without any prior notice. In case of delay to your journey by 30
            minutes or more, full fare will be refunded.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            You are solely responsible for complying with all Government travel requirements to
            undertake such transportation. You shall arrive at the airport by the time fixed by us
            (check-in counter will be closed 30 minutes before domestic flight departure and 1 hour
            before international departures) to complete departure formalities. We would deny to
            aboard you if you fail to report/finish check-in within the time mentioned above.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            None of our agents, employees or representatives has the authority to alter, modify or
            waive any provision contained on the ticket and the conditions of this contract of
            carriage.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Liability of loss, delay or damage to baggage is strictly limited for domestic &
            international journey, unless a higher value is declared in advance and additional
            charges are paid. The applicable liability is for domestic flight 120 BDT & for
            international flight 20 USD per kilo for checked baggage. We shall not be liable for any
            baggage, which is improperly or inadequately packed. We assume no liability for fragile,
            valuable or perishable articles.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">IMPORTANT CHANGES OF ITINERARY</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            We do not require our passengers to reconfirm their onward or return journey on our
            services unless we otherwise specified. However, please Contact your agent or our
            reservation/ticketing office if you wish to change your travel plans.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">
            IMPORTANT NOTICE REGARDING UNAUTHORIZE TICKETS NOVOAIR
            <span class="font-bold text-blue-800"></span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Will not recognize for purposes of carriage any ticket purchased from or resold to any
            source other than NOVOAIR or its authorized travel agents. Passengers should carefully
            examine their tickets. Particularly the conditions of contract and notices contained
            therein.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">
            IDENTIFICATION OF PASSENGERS <span class="font-bold text-blue-800"></span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            You may be required to produce appropriate identification at the time of check in.
            Appropriate photo identification required to avail any special discount/services
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">BAGGAGE</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Your cabin baggage may be weighed and measured and if necessary, charged for in
            accordance with valid tariffs. You may carry on board the articles listed below free of
            charge over and above checked and unchecked baggage, which is improperly or inadequately
            packed. We assume no liability for fragile, valuable or perishable articles.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            A lady's handbag, pocket book or purse, which is appropriate to normal travelling dress
            and is not being used as a container for the transportation of articles which would
            otherwise be regarded as baggage
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">An overcoat</li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">An umbrella or walking stick</li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">A small camera</li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            A reasonable amount of reading material for the flight
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Infants’ food for consumption in flight and infant' carrying basket
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            A fully collapsible wheelchair and/or a pair of crutches and/or other prosthetic devices
            for the passenger's use provided the passenger is dependent upon them will be carried
            only in the luggage hold
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Infant's carrying baskets or wheelchairs may be used until boarding the aircraft, then
            will be stowed in the aircraft hold
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Infant’s stroller provided the infant is on board the aircraft will go in the luggage
            hold
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">No Pets Allowed</li>
    </ul>

    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">GENERAL INFORMATION</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Remember to lock your baggage to prevent it from falling open and to help prevent
            pilferage of its contents. The carrier will not be liable for any loss, damage to or
            delay in the delivery of fragile or perishable articles, money, jewelry, electronics
            articles, negotiable papers, securities or other identification documents or samples or
            medicines or drugs or any other valuable items which are included in the passenger’s
            baggage whether with or without our knowledge
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">REFUNDS</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            NOVOAIR reserves the right to make a refund only to the person named in the ticket or to
            the person who originally paid for the ticket. Refund will not be entertained if any
            claim done after the date of ticket expiry. Ticket issued through any agent must be
            processed refund by the issuing agent only. Refund amount of a ticket should reverse to
            the card account irrespective of Debit/Credit.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">IMPORTANT LABEL YOUR BAG</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            For the purpose of easy identification, please label all baggage inside and outside with
            your name and address
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">RIGHT TO REFUSE CARRIAGE</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            We may refuse to carry you and/or your baggage from a flight, if this is determined to
            be necessary or appropriate for safety reasons, or for the comfort and convenience of
            passengers, You or any other passenger will also be refused carriage or removed from a
            flight, if your or their behavior is such as to threaten safety, good order, or
            discipline on board the aircraft, or to cause discomfort, inconvenience or annoyance to
            passengers or crew members. Wheelchair is provided upto ramp but not upto aircraft door.
            Physically disabled passengers are allowed to board subject to his/her fitness to use
            stair by self-assistance as well as certified by registered physician (No ambulift
            provided). For further clarifications please visit flynovoair.com
        </li>
    </ul>

    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">NOTICE OF GOVERNMENT IMPOSED TAXES, FEES AND SURCHARGES</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The price of this ticket may include taxes. fees and charges which are imposed on air
            transportation by the government, concern authorities and the carrier These taxes, fees
            and charges which may represent as significant portion of the cost of air travel, are
            either included in the fare or shown separately in the "TAX" box(es) of this ticket. You
            may also be required to pay taxes, fees and charges which were not collected at the time
            of issuance.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">WEATHER ADVISORY</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            At times flights are disrupted due to weather conditions that are beyond control. We
            always try our level best to ensure that our customers do not suffer waiting for their
            flights at the airports due to any flight disruption and we try to inform them in
            advance but at times it is not possible to reach customers due to last minute
            constrains. As such we would like to recommend to our valued customers to call flight
            information prior to proceeding for the airport.
        </li>
    </ul>
</div>
<h1 class="sub-title my-8">For Online Purchase</h1>
<div class="container">
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">Payment option for non-credit card holder :</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            If the passenger travelling is not the card holder, then please provide a photocopy of
            both sides of the Credit Card at NOVOAIR’s check-in counter. If the guest is unable to
            provide required document, NOVOAIR reserves the right to deny the passenger from
            boarding.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="heading">In case of unsuccessful online payment :</h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            If your payment was successful and you do not receive your ticket details within one
            hour, please contact our revenue&#64;flynovoair.com.
        </li>
    </ul>
</div>
