<div class="relative mx-6 -mt-4 mb-0 md:-mt-24 md:mb-24">
    <ul class="list-disc px-1 md:mx-6">
        <li class="mb-4">
            To ascertain the actual position it should be discreetly suggested to Expectant mothers
            to volunteer information about the progress of pregnancy and expected time of
            confinement.
        </li>
        <li class="mb-4">
            Expectant mothers (Pregnant females) will be accepted with a medical certificate up to
            the end of their 32nd week of pregnancy without any complications.
        </li>
        <li class="mb-4">
            Medical certificate shall remain valid within 72 hours of commencement of the flight.
        </li>
    </ul>
</div>
