<div class="relative h-8 md:h-12">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="mx-4 gap-8 md:mx-16">
            <h1 class="title text-3xl font-bold italic tracking-tighter md:text-5xl">Effortless</h1>
            <h1
                class="title ml-[3.15rem] text-2xl font-semibold italic tracking-tighter text-[#1aa0b7]"
            >
                Flight Reservations
            </h1>
        </div>
    </div>
</div>

<app-reservation-card></app-reservation-card>

<div class="-mb-5 -ml-5 mt-16 w-44 md:mt-40 md:w-60">
    <img src="assets/images/novo_Air.png" alt="NovoAir" class="opacity-50" />
</div>
