<div class="mt-16 md:mt-16">
    <div class="relative h-64">
        <img
            src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
            alt=""
            class="-z-10"
        />

        <div class="relative top-40 z-40 mx-6 -mt-60 md:top-24 md:mx-24">
            <h1
                class="bg-opacity-90 bg-clip-text text-6xl font-semibold italic tracking-tighter text-transparent"
                style="background-color: rgb(4, 131, 145); text-shadow: 0px 1px 1px #01b8cc"
            >
                Effortle<span
                    class="bg-gradient-to-r from-[#01b8cc] to-[#10a19f] bg-clip-text text-transparent"
                    style="text-shadow: 0px 1px 1px #0cb4b1"
                    >ss</span
                >
            </h1>
            <h3 class="ml-16 text-2xl font-semibold italic tracking-tighter text-[#1aa0b7]">
                Flight Reservations
            </h3>

            <div class="mt-16 w-full">
                <app-reservation-card class=""></app-reservation-card>
            </div>
            <div class="h-32"></div>
        </div>
        <div class="-ml-4 mt-32 w-52">
            <img src="../../../assets/manage-booking/novo_Air.png" class="opacity-50" />
        </div>
    </div>
</div>
