<div class="container relative mb-32">
    <h1
        class="mb-12 mt-16 bg-gradient-to-r from-[#007EE5] to-[#0059A3] bg-clip-text text-center text-4xl font-semibold text-transparent md:mb-20 md:mt-28"
    >
        FAQ'S
    </h1>
    <div
        class="card justify-content-center m-0 flex max-w-full rounded-3xl border-[0.5px] shadow-md md:p-4"
    >
        <p-accordion value="0" class="max-w-full">
            <p-accordion-panel value="0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="text-programme whitespace-nowrap font-bold">
                            What is Manage a Booking?
                        </span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">With Manage a Booking, you can:</p>
                    <ul class="list-inside list-disc pl-2 pt-2 marker:text-blue-700">
                        <li>View, print out and e-mail your flight information</li>
                        <li>Change your booking date, time and fare class</li>
                        <li>
                            Edit your frequent flyer number, contact details, and advance passenger
                            information
                        </li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">
                            How many times can I make
                            <br class="block sm:hidden" />
                            use of Manage Booking?
                        </span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        There is no limit on the number of times to use Manage Booking.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What is an electronic ticket?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        NOVOAIRs' electronic tickets do away with paper tickets and allow you to
                        book flights conveniently over the internet. After you have completed the
                        online transaction to purchase your tickets, you will be shown a
                        confirmation page and sent a confirmation email, both containing your
                        personal and flight details and a unique reference number. All you need do
                        is print out either one of these and present it along with your photo
                        ID/passport at the check-in desk.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What is acceptable as Photo <br class="block sm:hidden" />
                            ID?
                        </span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        According CAAB, providing photo ID during your flight is mandatory. For
                        NOVOAIR domestic flight, you may provide National ID, Driving License,
                        Passport, Official/Student ID or any kind of ID card with Photo and name is
                        mentioned.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="4">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Can I travel with a pet?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        Carriage of pets in Passenger Cabin is NOT allowed at present condition.
                        However, domestic pets may be carried in the freight hold of the aircraft
                        subject to fulfillment of conditions as set forth in the articles 3.8.1 to
                        3.8.10 of "Aviation Public Health Manual", CAAB.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="5">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >How can I use my credit card <br class="block sm:hidden" />
                            to book a ticket for someone <br class="block sm:hidden" />
                            else?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        Just book and pay for the ticket through our online booking engine at
                        flynovoair.com Make sure you enter the cardholder information (name, email
                        address etc) correctly. Note that NOVOAIR may contact the card holder and
                        require to submit additional information online to confirm the payment, or
                        require to present the credit card at check-in.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="6" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >If I book online, how do I get <br class="block sm:hidden" />
                            my ticket?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        If you book online, you will receive an electronic ticket (also referred to
                        as an 'eticket') by email to the address you provided when during the
                        booking process.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="7" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >Is smoking allowed on any <br class="block sm:hidden" />
                            NOVOAIR flights?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        All NOVOAIR flights are non-smoking. The non-smoking policy also includes
                        the use of e-cigarettes. No e-cigarettes can be used on board NOVOAIR
                        flights
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="8" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >Can I cancel my booking <br class="block sm:hidden" />
                            online?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        No, to cancel your booking and request a refund please send us e-mail to
                        reservation&#64;flynovoair.com or request directly to NOVOAIR Sales counter.
                        Please note this is for bookings made directly with NOVOAIR website or Sales
                        office only. If you booked through a travel agent and haven't started your
                        journey yet, please contact your travel agent to make any changes. There may
                        be a fee associated with cancelling your booking depending on the fare
                        conditions of your ticket.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="9" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What happens to my seat or <br class="block sm:hidden" />
                            meal requests?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">These features are not available at this moment.</p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="10" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What should I do if I've lost a <br class="block sm:hidden" />
                            piece of property?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        If you've lost property on board one of our aircraft, please contact the
                        customer service at the airport where your flight landed. If you've lost
                        baggage, you'll need to fill out a report. We'll then be in touch as soon as
                        your baggage is found to find out how we can return your bags to you.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>
