<div class="relative">
    <div class="min-w-2xl w-full overflow-hidden">
        <div
            class="h-96 border-none bg-cover bg-center"
            style="
                background-image: url('https://www.flynovoair.com/assets/images/destinations/domestic/barishal_f.jpg');
            "
        >
            <div
                class="flex h-full items-start justify-center bg-gradient-to-b from-[#ffffff] via-[#83cfe86d] to-[rgba(0,0,0,0.5)]"
            >
                <div class="text-center text-[#217f96]">
                    <h1 class="text-4xl font-extrabold">Barishal - The Venice of the East</h1>
                    <h2 class="mt-4 text-2xl font-bold">
                        Natural Beauty Along <span class="text-3xl font-extrabold">the Rivers</span>
                    </h2>
                    <p class="mt-2 font-semibold">
                        Experience the charm of Barishal, Bangladesh's largest river port <br />
                        on Kirtankhola River
                    </p>
                    <button
                        class="my-10 rounded-full bg-[#217f96] px-6 py-2 font-semibold text-white hover:bg-[#175a6b] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    >
                        Book Your Trip Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto mb-12 mt-28 text-center">
        <h1 class="mb-6 text-3xl font-bold text-[#217f96]">Explore Barishal</h1>

        <p class="mb-8 text-lg text-gray-600">
            Enjoy serene rivers, fresh fish, lush rice fields, Kuakata beach and
            <br />panoramic sunrise and sunset views
        </p>
    </div>

    <div class="flex min-h-screen items-center justify-center">
        <div class="max-w-5xl overflow-hidden">
            <div class="flex flex-col-reverse md:grid md:grid-cols-2">
                <div class="mr-20 py-16 pl-16">
                    <div class="mb-8 border-l-2 border-black pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Riverine Serenity</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Views</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Discover Barishal's beauty with rivers, lush landscapes, and Kuakata's
                            panoramic sunrise and sunset.
                        </p>
                    </div>

                    <div class="mb-8 pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Fresh Delights</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Abundance</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Savor fresh fish, Balam rice, coconut, and hog plum from Barishal's rich
                            bounty.
                        </p>
                    </div>

                    <div class="pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Activities</h3>
                        <h4 class="mt-2 text-xl text-gray-600"></h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Explore Kuakata beach, enjoy river cruises, and experience the vibrant
                            culture of Barishal.
                        </p>
                    </div>
                </div>

                <div class="flex h-full w-full justify-center py-16 md:block">
                    <div
                        class="mx-auto h-full w-[70%] bg-cover bg-center py-32"
                        style="
                            background-image: url('https://www.flynovoair.com/assets/images/places_to_see/Nilgiri/1.jpg');
                        "
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="mb-20 flex max-h-52 items-center justify-center md:mt-24">
        <div
            class="mx-auto flex max-w-4xl flex-col items-center rounded-lg bg-white shadow-lg md:flex md:flex-row md:items-stretch"
        >
            <div class="w-1/2">
                <img
                    src="https://tds-images.thedailystar.net/sites/default/files/styles/very_big_201/public/images/2022/12/07/imran-molla-kdk2zhqp3u0-unsplash.jpg"
                    alt="Beautiful place"
                    class="max-h-52 w-full rounded-l-lg object-cover"
                />
            </div>
            <div class="w-1/2 rounded-r-lg border px-6 pb-4 md:pb-0">
                <div class="mt-10 flex justify-center md:mt-0">
                    <button
                        class="text-md rounded-md bg-slate-600 px-3 py-1 font-semibold text-white md:rounded-bl-lg md:rounded-br-lg md:rounded-tl-none md:rounded-tr-none"
                    >
                        Book now
                    </button>
                </div>

                <p class="mt-3 text-center text-lg font-semibold">Discover</p>

                <p class="text-center text-xl font-bold">Barishal's Charm</p>
                <hr class="h mx-24 my-2" />
                <p class="text-center text-sm md:px-10">
                    A riverine paradise with lush landscapes, Kuakata beach, vibrant culture, fresh
                    fish, and panoramic sunrise and <br />
                    sunset views.
                </p>
            </div>
        </div>
    </div>
    <!--  -->
</div>
