<div class="relative mx-6 mb-20 md:-mt-20">
    <h1 class="mb-6 text-2xl font-bold text-blue-800">ACCEPTANCE:</h1>
    <p class="mb-4">
        Subject to the rules and conditions, company shall follow the policy concerning the carriage
        of incapacitated passengers as follows:
    </p>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">
        <span class="text-blue-800">A.</span> SHALL refuse to carry or continue to carry persons
    </h2>
    <ul class="mb-6 list-disc pl-6">
        <li class="mb-2">
            whose carriage because of their physical or medical conditions, on the basis of
            established facts, medical or other evidence, etc could pose a threat to the safety of
            other passengers and their property, the aircraft or the crew, and/or
        </li>
        <li class="mb-2">
            who refuse to, or do not submit themselves to the specific conditions of carriage
            required by the company(s) regulations.
        </li>
    </ul>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">
        <span class="text-blue-800">B.</span> MAY refuse for carriage, or to commence/continue
        transportation of incapacitated persons
    </h2>
    <ul class="mb-6 list-disc pl-6">
        <li class="mb-2">
            Whose conduct, status, mental or physical condition is known to be such as to render
            them incapable of/caring for themselves without assistance, unless-They are accompanied
            by escorts who will be responsible for caring for them en-route, and
        </li>
        <li class="mb-2">
            With the care of such escorts, they will not require additional attention or assistance
            from employees of the Company:
        </li>
        <li class="mb-2">
            Who may be a source of infection and in the case of certain disease, discomfort to other
            passenger;
        </li>
        <li class="mb-2">
            Whose carriage, even with the implementation of special precautions, might cause unusual
            hazard or risk to themselves or to other persons and property;
        </li>
        <li class="mb-2">
            Who cannot use the standard aircraft seat, neither in a sitting nor reclining position
            (e.g. stretcher cases), for the class of service desired.
        </li>
    </ul>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">MENTALLY ILL PERSONS</h2>
    <p class="mb-6">Persons who are mentally ill will not be accepted.</p>
</div>
