<div class="container mb-20 mt-24">
    <h1 class="sub-title">Prohibited <span class="sub-title2">Items</span></h1>
    <div class="mt-20 rounded-3xl border border-gray-200 p-4 shadow-sm">
        <img class="h-20 w-full rounded-3xl" src="assets/images/prohibited.png" />
        <div class="border border-gray-100"></div>

        <h1 class="mt-4 text-2xl font-semibold text-red-700">
            Dangerous articles
            <span class="font-bold text-red-800">not permitted in hand Luggage</span>
        </h1>
        <p class="mt-2">
            The following items must not be packed in your hand luggage. They must be placed in your
            hold baggage. If these items are discovered in your hand luggage they will be
            confiscated and not returned.
        </p>
        <p class="ittalic text-blue-600 underline">Learn more</p>
    </div>
</div>
