:host {
    display: block;
}

:host {
    display: block;
}

.text-programme {
    white-space: nowrap;
    &::after {
        content: ' Programme';
    }

    @media (max-width: 565px) {
        &::after {
            content: '\A Programme';
            white-space: pre;
        }
    }
}

@media print {
    p-accordion-panel {
        display: block !important;
    }

    p-accordion-content {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        overflow: visible !important;
    }
}
