<div class="container mb-32">
    <h1
        class="mb-12 mt-16 bg-gradient-to-r from-[#007EE5] to-[#0059A3] bg-clip-text text-center text-4xl font-semibold text-transparent md:mb-20 md:mt-28"
    >
        FAQ'S
    </h1>
    <div
        class="card justify-content-center m-0 flex max-w-full rounded-3xl border-[0.5px] shadow-md md:p-4"
    >
        <p-accordion value="0" class="max-w-full">
            <p-accordion-panel value="0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="text-programme whitespace-nowrap font-bold">
                            Introducing NOVOAIR Rewards
                        </span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        The NOVOAIR Rewards portfolio is a growing collection of Rewards choices
                        from which our qualified Passengers will be able to redeem Personalized
                        Services, one-way Flights, Travel Deals & Packages, and Partner Promotions
                        for their SMILES Miles. NOVOAIR is initially offering one-way Flights to
                        your favorite destinations, and Status upgrades to take advantage of early
                        access to Partner Promotions. Manage your personal Smiles Account; track
                        your Smiles, book Reward Tickets, and more exclusive Rewards, all at the
                        convenience of your home or office by simply logging into your Smiles
                        Account with your Smiles Frequent Flyer Number and PIN. Members will be able
                        to see most recent activity in updated SMILES Account within Seven days, and
                        can only redeem Smiles Rewards if their Smiles Account has sufficient SMILES
                        Miles. Please take some time to familiarize yourself with our frequent flyer
                        programme (FFP) Policies and the many Membership Tier Benefits you can enjoy
                        as a Smiles Member.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Smiles Membership</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Earning Miles</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident, similique sunt
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >Membership Tiers and Status Policies</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident, similique sunt
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="4">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Membership Tiers Benefits</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident, similique sunt
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="5">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Rewards</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident, similique sunt
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="6" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Privacy Policy</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident, similique sunt
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>
