<div class="relative">
    <div
        class="mb-7 mt-20 flex w-full flex-col items-center gap-5 md:mb-12 md:mt-28 md:flex-row md:items-stretch md:justify-center"
    >
        <div class="flex w-full md:max-w-[70%]">
            <img src="./assets/images/co-ebl.jpg" alt="" class="w-full object-cover" />
        </div>
        <div class="flex w-full flex-col md:-mt-3.5 md:max-w-[30%]">
            <div class="flex flex-1 flex-col justify-center">
                <div class="h-[40%] w-full">
                    <button
                        class="py- group flex h-full min-w-full cursor-pointer items-center justify-center gap-3 rounded-[10px] bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-6 hover:shadow-md"
                        [routerLink]="['/']"
                    >
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-2xl font-semibold leading-[43.1px] tracking-[0.04em] text-transparent"
                            >Apply Now</span
                        >

                        <i
                            class="pi pi-external-link text-md mt-1 !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                        ></i>
                    </button>
                </div>
                <div class="my-3 h-[20%] w-full">
                    <a
                        href="tel:13603"
                        class="flex h-full w-full cursor-pointer items-center justify-center gap-2 rounded-2xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-2 py-1 font-semibold leading-[43.1px] tracking-[0.04em] hover:shadow-md md:px-7 md:py-1"
                    >
                        <i
                            class="pi pi-phone mb-[0.125rem] pt-1 !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                        ></i>

                        <span
                            class="group bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                        >
                            13603
                        </span>
                    </a>
                </div>

                <div class="h-[20%] w-full">
                    <button
                        (click)="openMail()"
                        class="group flex h-full w-full cursor-pointer items-center justify-center gap-2 rounded-xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-4 py-1 font-semibold leading-[43.1px] tracking-[0.04em] hover:shadow-md"
                    >
                        <i
                            class="pi pi-envelope text-md !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                        ></i>

                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent md:text-base lg:text-xl"
                        >
                            smiles&#64;flynovoair.com
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="text-center font-semibold">
            EBL NOVOAIR Co-Brand Prepaid is a convenient, flexible & simple solution for NOVOAIR
            SMILES customers for making everyday spending in style! Cardholder can address all the
            individual needs, at home and abroad, through this card with enhanced security.
        </p>
        <p class="mb-3 mt-5">
            With EBL NOVOAIR Co-Brand Prepaid Card, you can enjoy the privilege of-
        </p>
        <ul class="mb-5 mt-3 space-y-3 pl-5">
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Dual Currency EMV Prepaid Card</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    Faster access to funds globally 24x7 at large
                    <span class="font-semibold">MasterCard</span> ATM Network
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Absolutely free cash withdrawal from any EBL ATM</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Access to shops and restaurants throughout the globe</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Absolutely free reloading</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    Discount facilities at over 1,300 partner merchants countrywide
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    <span class="italic">"Transaction Alert"</span> with every transaction - on
                    demand
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">EMV card for more safety and security</div>
            </li>
        </ul>
        <h2 class="text-xl">Exclusive Offer From NOVOAIR</h2>
        <ul class="mb-5 mt-3 space-y-3 pl-5">
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    200 bonus miles on signing in for the NOVOAIR-EBL Co-brand Prepaid Card after
                    the first flight
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    Redemption facility of NOVOAIR rewards with SMILES miles online
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Bonus SMILES miles while flying with NOVOAIR</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">Priority Service through NOVOAIR Sales Counters</div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    Priority Check-in, Boarding and baggage delivery at Hazrat Shahjalal Intl.
                    Airport, Dhaka
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    Excess Baggage allowances (10 kg for <span class="italic">Sapphire</span> and 15
                    kg for <span class="italic">Platinum</span> tier member)
                </div>
            </li>
            <li class="-ml-2 flex">
                <div class="-mt-1 flex-shrink-0">
                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                </div>
                <div class="ml-3">
                    VIP Car Service for <span class="italic">Platinum</span> Tier Members at Hazrat
                    Shahjalal Intl. Airport, Dhaka (Subject to availability)
                </div>
            </li>
        </ul>
    </div>
    <div class="my-20">
        <app-fare-family-wise-table></app-fare-family-wise-table>
    </div>
    <div class="my-20">
        <app-redemption-table></app-redemption-table>
    </div>
    <div class="my-20">
        <app-how-to-apply></app-how-to-apply>
    </div>
    <div class="my-20">
        <app-card-activation></app-card-activation>
    </div>
    <div class="my-20">
        <app-ebl-faq></app-ebl-faq>
    </div>
</div>
