<div class="mt-20 sm:mt-24 lg:mt-[4.7rem]">
    <div class="relative h-64">
        <img
            src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
            alt=""
            class="absolute inset-0 -z-10 h-full w-full object-cover"
        />

        <div class="relative top-8 z-40 mx-6 sm:top-12 sm:mx-12 md:mx-24">
            <h1
                class="text-xl font-bold italic tracking-tight text-[#017388] sm:text-2xl lg:text-3xl lg:tracking-tighter"
            >
                Co-Brandeed Prepaid Card
            </h1>

            <div class="mt-6">
                <app-co-brandeed-card></app-co-brandeed-card>
            </div>
            <div class="mt-6">
                <app-co-brandeed-faq></app-co-brandeed-faq>
            </div>
        </div>
    </div>
</div>
