<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container md:mx-auto">
            <h1 class="title text-3xl font-bold italic md:text-5xl">Company Information</h1>
        </div>
    </div>
</div>
<div class="container relative -mt-16 md:-mt-36">
    <div class="my-8">
        <h1 class="text-center text-3xl font-bold text-blue-700">NOVOAIR</h1>
        <h1 class="mt-2 text-center text-lg text-gray-700">THE ART OF AVIATION</h1>
    </div>
    <img class="w-full rounded-3xl" src="assets/images/about.jpg" />
    <h1 class="my-2 mt-6">
        The ATR 72-500, is an airworthy 72 - seater turboprop aircraft with spacious seating and
        ample cargo space. This current model is very popular among airlines in more than 65
        countries around the world for its short haul operations.
    </h1>
    <h1 class="my-2 mb-8">
        More information and detailed specifications are available at ATR website.
    </h1>
</div>
