<div class="md:relative md:-top-48">
    <div class="container mt-16">
        <div class="btn-primary ml-8 w-52 rounded-tl-xl rounded-tr-xl px-4 py-1 opacity-90">
            <h1 class="text-center text-lg">Checked Baggage</h1>
        </div>
        <div class="gap-6 md:flex">
            <div class="w-full">
                <div class="w-full rounded-3xl border border-gray-100 shadow-md md:flex">
                    <img
                        class="w-full rounded-3xl md:w-96"
                        src="assets/images/checked-baggage.png"
                    />

                    <div class="flex w-full items-center justify-around p-4 md:mx-16 md:p-0">
                        <div>
                            <h1 class="font-bold italic text-gray-600">Adult</h1>
                            <div class="items-center md:flex">
                                <div class="flex">
                                    <img class="h-24 w-20" src="assets/images/laggage.png" />
                                    <img class="h-24 w-20" src="assets/images/laggage.png" />
                                </div>
                                <div>
                                    <h1 class="text-lg font-bold text-gray-600">Max</h1>
                                    <h1 class="font-semibold text-gray-600">2 piece</h1>
                                </div>
                            </div>
                        </div>
                        <div
                            class="justify-content-center mx-2 my-auto flex h-32 border border-gray-200"
                        ></div>
                        <div>
                            <h1 class="font-bold italic text-gray-600">Child</h1>
                            <div class="items-center md:flex">
                                <div class="flex">
                                    <img class="h-24 w-20" src="assets/images/laggage.png" />
                                    <img class="h-24 w-20" src="assets/images/laggage.png" />
                                </div>
                                <div>
                                    <h1 class="text-lg font-bold text-gray-600">Max</h1>
                                    <h1 class="font-semibold text-gray-600">2 piece</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="ml-4 mt-1 text-gray-700">
                    For an Infant in checked baggage it contains
                    <span class="font-bold text-gray-700">10kg weight</span
                    ><span class="ml-2 italic text-blue-600 underline">Learn more</span>
                </h1>
            </div>
            <div class="justify-items-center">
                <h1 class="mt-12 text-xl font-semibold text-blue-700 md:hidden">
                    Checked Baggage Requirements
                </h1>
                <img class="mt-4 h-52 w-56 md:mt-0 md:w-72" src="assets/images/checked.png" />
            </div>
        </div>
    </div>
</div>
