<header class="w-full bg-white py-2 backdrop-blur-lg md:bg-white/50">
    <div class="container flex items-center justify-between px-4 md:px-0">
        <!-- Logo -->
        <a routerLink="">
            <img src="assets/logo/logo.png" alt="MyBrand Logo" class="w-40" />
        </a>

        <!-- Mobile Menu Button (Hidden on larger screens) -->
        <div class="md:hidden">
            <button
                id="menu-toggle"
                class="text-gray-800 transition-colors duration-300 hover:text-primary focus:outline-none"
                (click)="toggleMobileMenu()"
            >
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"
                    />
                </svg>
            </button>
        </div>

        <!-- Desktop Navigation (Hidden on smaller screens) -->
        <nav class="hidden md:flex">
            <ul class="flex space-x-8">
                <li class="group relative">
                    <a
                        class="cursor-pointer font-semibold text-stone-700 transition-colors duration-300 hover:text-sky-800"
                    >
                        Book
                    </a>
                    <div class="justify-content-center absolute top-full h-6 w-56"></div>
                    <ul
                        class="absolute z-10 mt-1 hidden w-[700px] rounded-sm bg-amber-50 py-2 shadow-md shadow-stone-500 transition-all duration-300 group-hover:block md:-left-96 lg:-left-[695px] lg:top-11 lg:w-[1100px]"
                    >
                        <div class="flex gap-4 p-4">
                            <div class="">
                                <h1 class="mb-4 px-4 font-semibold">Plan a Trip</h1>
                                <li>
                                    <a
                                        href="https://secure.flynovoair.com/bookings/Vues/flight_selection.aspx"
                                        target="_blank"
                                        class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100 hover:text-sky-700"
                                    >
                                        <ng-icon
                                            style="font-size: 24px"
                                            name="matAirplanemodeActiveOutline"
                                        ></ng-icon>
                                        <span>Book Flights</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/holiday-packages"
                                        class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100 hover:text-sky-700"
                                    >
                                        <ng-icon
                                            style="font-size: 24px"
                                            name="matCardGiftcardOutline"
                                        ></ng-icon>
                                        <span>Holiday Packages</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/our-destination"
                                        class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100 hover:text-sky-700"
                                    >
                                        <ng-icon
                                            style="font-size: 24px"
                                            name="matMyLocationOutline"
                                        ></ng-icon>
                                        <span>Destinations</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/shuttle"
                                        class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100 hover:text-sky-700"
                                    >
                                        <ng-icon
                                            style="font-size: 24px"
                                            name="matDirectionsBusOutline"
                                        ></ng-icon>
                                        <span>Shuttle Service</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/offers"
                                        class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100 hover:text-sky-700"
                                    >
                                        <ng-icon
                                            style="font-size: 24px"
                                            name="matLocalOfferOutline"
                                        ></ng-icon>
                                        <span>Current Offers</span>
                                    </a>
                                </li>
                            </div>
                            <div class="">
                                <h1 class="mb-4 px-4 font-semibold">Travel Information</h1>

                                <li>
                                    <a href="/baggage/baggage-size-weight" class="sub-menu">
                                        Travel Requirements
                                    </a>
                                </li>
                                <li>
                                    <a href="/fleet" class="sub-menu"> Our Fleet </a>
                                </li>
                                <li>
                                    <a href="#" class="sub-menu"> Our Partners </a>
                                </li>
                            </div>
                            <div class="">
                                <h1 class="mb-4 px-4 font-semibold">Group and Business Travel</h1>

                                <li>
                                    <a href="#" class="sub-menu"> Beyond Business </a>
                                </li>
                                <li>
                                    <a href="#" class="sub-menu"> Group Travel </a>
                                </li>
                                <li>
                                    <a href="#" class="sub-menu"> Sports Travel </a>
                                </li>
                            </div>
                            <!-- src/app/dynamic-list/dynamic-list.component.html -->
                            <div
                                class="space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                            >
                                @for (item of listItemsBooks; track item.text) {
                                    <li class="rounded-lg text-stone-700 hover:text-sky-700">
                                        @if (item.link.startsWith('http')) {
                                            <a
                                                class="flex items-center gap-2"
                                                [attr.href]="item.link"
                                                target="_blank"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        } @else {
                                            <a
                                                class="flex items-center gap-2"
                                                [routerLink]="item.link"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        }
                                    </li>
                                }
                            </div>
                        </div>
                    </ul>
                </li>

                <!-- explore -->

                <li class="group relative">
                    <a
                        class="cursor-pointer font-semibold text-stone-700 transition-colors duration-300 hover:text-sky-800"
                    >
                        Explore
                    </a>
                    <div
                        class="justify-content-center absolute top-full h-6 w-56 text-center"
                    ></div>
                    <!-- Dropdown Menu -->
                    <ul
                        class="absolute z-10 mt-1 hidden w-[700px] rounded-sm bg-amber-50 p-4 py-2 shadow-md shadow-stone-500 transition-all duration-300 group-hover:block md:-left-96 lg:-left-[855px] lg:top-11 lg:w-[1180px]"
                    >
                        <div class="flex gap-4 p-4">
                            <div class="grid justify-around md:grid-cols-2 lg:grid-cols-3">
                                <!-- Destinations Section -->

                                <div>
                                    @for (destination of destinations; track destination.type) {
                                        <ul class="mb-6">
                                            <h1 class="mb-4 font-semibold text-stone-700">
                                                {{ destination.type }}
                                            </h1>
                                            @for (item of destination.items; track item) {
                                                <li class="sub-item text-sm">
                                                    @if (item.link.startsWith('http')) {
                                                        <a
                                                            [attr.href]="item.link"
                                                            target="_blank"
                                                            >{{ item.name }}</a
                                                        >
                                                    } @else {
                                                        <a [routerLink]="item.link">{{
                                                            item.name
                                                        }}</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>

                                <!-- Tourist Information Section -->
                                <div>
                                    @for (info of touristInfo; track info.title) {
                                        <ul class="mb-6">
                                            <h1 class="mb-4 font-semibold text-stone-700">
                                                {{ info.title }}
                                            </h1>
                                            @for (item of info.items; track item) {
                                                <li class="sub-item text-sm">
                                                    @if (item.link.startsWith('http')) {
                                                        <a
                                                            [attr.href]="item.link"
                                                            target="_blank"
                                                            >{{ item.name }}</a
                                                        >
                                                    } @else {
                                                        <a [routerLink]="item.link">{{
                                                            item.name
                                                        }}</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>

                                <!-- Other Information Section -->
                                <div>
                                    @for (info of otherInfo; track info.title) {
                                        <ul class="mb-6">
                                            <h1 class="mb-4 font-semibold text-stone-700">
                                                {{ info.title }}
                                            </h1>
                                            @for (item of info.items; track item) {
                                                <li class="sub-item text-sm">
                                                    @if (item.link.startsWith('http')) {
                                                        <a
                                                            [attr.href]="item.link"
                                                            target="_blank"
                                                            >{{ item.name }}</a
                                                        >
                                                    } @else {
                                                        <a [routerLink]="item.link">{{
                                                            item.name
                                                        }}</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                            <div
                                class="h-full w-56 space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                            >
                                @for (item of listItemsManage; track item.text) {
                                    <li class="sub-item rounded-lg">
                                        @if (item.link.startsWith('http')) {
                                            <a
                                                class="flex items-center gap-2"
                                                [attr.href]="item.link"
                                                target="_blank"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        } @else {
                                            <a
                                                class="flex items-center gap-2"
                                                [routerLink]="item.link"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        }
                                    </li>
                                }
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="group relative">
                    <a
                        class="cursor-pointer font-semibold text-stone-700 transition-colors duration-300 hover:text-sky-800"
                    >
                        About Us
                    </a>
                    <div class="absolute top-full h-6 w-24 justify-items-center"></div>
                    <!-- Dropdown Menu -->
                    <ul
                        class="absolute z-10 mt-1 hidden w-[700px] rounded-sm bg-amber-50 py-2 shadow-md shadow-stone-500 transition-all duration-300 group-hover:block md:-left-96 lg:-left-[880px] lg:top-11 lg:w-[1100px]"
                    >
                        <div class="flex gap-4 p-4">
                            <div class="grid justify-around text-sm md:grid-cols-2 lg:grid-cols-4">
                                @for (item of gridItems; track item.title) {
                                    @if (item.link.startsWith('http')) {
                                        <a
                                            [attr.href]="item.link"
                                            target="_blank"
                                            class="sub-item justify-items-center p-4"
                                        >
                                            <i [class]="item.icon" style="font-size: 2rem"></i>
                                            <h1 class="text-lg font-semibold">{{ item.title }}</h1>
                                        </a>
                                    } @else {
                                        <a
                                            [routerLink]="item.link"
                                            class="sub-item justify-items-center p-4"
                                        >
                                            <i [class]="item.icon" style="font-size: 2rem"></i>
                                            <h1 class="text-lg font-semibold">{{ item.title }}</h1>
                                        </a>
                                    }
                                }
                            </div>
                            <div
                                class="h-full space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                            >
                                @for (item of listItemsExplore; track item.text) {
                                    <li class="sub-item rounded-lg">
                                        @if (item.link.startsWith('http')) {
                                            <a
                                                class="flex items-center gap-2"
                                                [attr.href]="item.link"
                                                target="_blank"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        } @else {
                                            <a
                                                class="flex items-center gap-2"
                                                [routerLink]="item.link"
                                            >
                                                <i [class]="item.icon" style="font-size: 1rem"></i>
                                                <span>{{ item.text }}</span>
                                            </a>
                                        }
                                    </li>
                                }
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="group relative">
                    <a href="#" class="transition-colors duration-500 hover:text-primary"
                        ><img src="assets/logo/ff.png" alt="MyBrand Logo" class="h-8 w-24"
                    /></a>
                    <div class="absolute top-full h-6 w-24 justify-items-center"></div>
                    <!-- Dropdown Menu -->
                    <ul
                        class="absolute -left-[540px] mt-1 hidden w-[660px] rounded-sm bg-amber-50 p-4 py-2 shadow-md shadow-stone-500 transition-all duration-300 group-hover:block lg:top-11"
                    >
                        <li class="flex items-center gap-4 p-4">
                            <p-button
                                (click)="navigateToSmilesLogin()"
                                severity="info"
                                size="large"
                                label="Smiles Login"
                                icon="pi pi-user"
                            />
                            <a
                                routerLink="/co-branded-prepaid-card"
                                class="block px-4 py-2 hover:bg-gray-100"
                                ><img class="h-8 w-32" src="assets/logo/smc.png" alt="MyBrand Logo"
                            /></a>
                            <a
                                routerLink="/smiles-frequent-flyer"
                                class="block px-4 py-2 hover:bg-gray-100"
                                ><img
                                    class="h-8 w-32"
                                    src="assets/logo/smc1.png"
                                    alt="MyBrand Logo"
                            /></a>
                        </li>
                    </ul>
                </li>
                <button (click)="navigateToAgentLogin()" class="Btn">
                    <div class="sign">
                        <i style="font-size: 1rem; color: cadetblue" class="pi pi-user"></i>
                    </div>

                    <div class="text">Agent Login</div>
                </button>
            </ul>
        </nav>
    </div>

    <!-- Mobile Menu (Hidden by default) -->
    <nav
        class="transition-height hidden bg-gray-50 duration-300 ease-in-out md:hidden"
        [ngClass]="{ hidden: !isMobileMenuOpen }"
        [style.height]="isMobileMenuOpen ? mobileMenuHeight + 'px' : '0'"
    >
        <ul class="h-screen overflow-y-scroll bg-amber-50 p-4">
            <li>
                <a
                    class="block py-2 font-bold hover:text-primary"
                    (click)="toggleDropdown('bookDropdown')"
                    >Book</a
                >
                <!-- Mobile Dropdown -->
                <ul
                    id="services-dropdown"
                    class="hidden pl-4"
                    [ngClass]="{ hidden: !dropdownStates['bookDropdown'] }"
                >
                    <div class="gap-4 p-4">
                        <div class="">
                            <h1 class="mb-4 px-4 font-semibold">Plan a Trip</h1>
                            <li>
                                <a
                                    href="https://secure.flynovoair.com/bookings/Vues/flight_selection.aspx"
                                    target="_blank"
                                    class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100"
                                >
                                    <ng-icon
                                        style="font-size: 24px"
                                        name="matAirplanemodeActiveOutline"
                                    ></ng-icon>
                                    <span>Book Flights</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    routerLink="/holiday-packages"
                                    class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100"
                                >
                                    <ng-icon
                                        style="font-size: 24px"
                                        name="matCardGiftcardOutline"
                                    ></ng-icon>
                                    <span>Holiday Packages</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    routerLink="/our-destination"
                                    class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100"
                                >
                                    <ng-icon
                                        style="font-size: 24px"
                                        name="matMyLocationOutline"
                                    ></ng-icon>
                                    <span>Destinations</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/shuttle"
                                    class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100"
                                >
                                    <ng-icon
                                        style="font-size: 24px"
                                        name="matDirectionsBusOutline"
                                    ></ng-icon>
                                    <span>Shuttle Service</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    routerLink="/offers"
                                    class="flex items-center gap-2 rounded px-4 py-2 text-sm text-stone-700 hover:bg-amber-100"
                                >
                                    <ng-icon
                                        style="font-size: 24px"
                                        name="matLocalOfferOutline"
                                    ></ng-icon>
                                    <span>Current Offers</span>
                                </a>
                            </li>
                        </div>

                        <div class="mt-6">
                            <h1 class="mb-4 px-4 font-semibold">Travel Information</h1>

                            <li>
                                <a href="/baggage/baggage-size-weight" class="sub-menu">
                                    Travel Requirements
                                </a>
                            </li>
                            <li>
                                <a href="/fleet" class="sub-menu"> Our Fleet </a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu"> Our Partners </a>
                            </li>
                        </div>
                        <div class="mt-6">
                            <h1 class="mb-4 px-4 font-semibold">Group and Business Travel</h1>

                            <li>
                                <a href="#" class="sub-menu"> Beyond Business </a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu"> Group Travel </a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu"> Sports Travel </a>
                            </li>
                        </div>
                        <!-- src/app/dynamic-list/dynamic-list.component.html -->
                        <div
                            class="mt-6 space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                        >
                            @for (item of listItemsBooks; track item.text) {
                                <li class="rounded-lg text-stone-700">
                                    @if (item.link.startsWith('http')) {
                                        <a
                                            class="flex items-center gap-2"
                                            [attr.href]="item.link"
                                            target="_blank"
                                        >
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    } @else {
                                        <a class="flex items-center gap-2" [routerLink]="item.link">
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    }
                                </li>
                            }
                        </div>
                    </div>
                </ul>
            </li>
            <li>
                <a
                    class="block py-2 font-bold hover:text-primary"
                    (click)="toggleDropdown('manageDropdown')"
                    >Explore</a
                >
                <!-- Mobile Dropdown -->
                <ul
                    id="services-dropdown"
                    class="hidden pl-4"
                    [ngClass]="{ hidden: !dropdownStates['manageDropdown'] }"
                >
                    <div class="h-screen gap-4 overflow-scroll p-4">
                        <div class="grid grid-cols-2 justify-around text-nowrap">
                            <!-- Destinations Section -->

                            <div>
                                @for (destination of destinations; track destination.type) {
                                    <ul class="my-6">
                                        <h1 class="mb-4 font-bold text-stone-700">
                                            {{ destination.type }}
                                        </h1>
                                        @for (item of destination.items; track item) {
                                            <li class="sub-item text-sm">
                                                @if (item.link.startsWith('http')) {
                                                    <a [attr.href]="item.link" target="_blank">{{
                                                        item.name
                                                    }}</a>
                                                } @else {
                                                    <a [routerLink]="item.link">{{ item.name }}</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>

                            <!-- Tourist Information Section -->
                            <div>
                                @for (info of touristInfo; track info.title) {
                                    <ul class="my-6">
                                        <h1 class="mb-4 font-bold text-stone-700">
                                            {{ info.title }}
                                        </h1>
                                        @for (item of info.items; track item) {
                                            <li class="sub-item text-sm">
                                                @if (item.link.startsWith('http')) {
                                                    <a [attr.href]="item.link" target="_blank">{{
                                                        item.name
                                                    }}</a>
                                                } @else {
                                                    <a [routerLink]="item.link">{{ item.name }}</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>

                            <!-- Other Information Section -->
                            <div>
                                @for (info of otherInfo; track info.title) {
                                    <ul class="my-6">
                                        <h1 class="mb-4 font-bold text-stone-700">
                                            {{ info.title }}
                                        </h1>
                                        @for (item of info.items; track item) {
                                            <li class="sub-item text-sm">
                                                @if (item.link.startsWith('http')) {
                                                    <a [attr.href]="item.link" target="_blank">{{
                                                        item.name
                                                    }}</a>
                                                } @else {
                                                    <a [routerLink]="item.link">{{ item.name }}</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                        <div
                            class="mb-12 h-44 space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                        >
                            @for (item of listItemsManage; track item.text) {
                                <li class="sub-item rounded-lg">
                                    @if (item.link.startsWith('http')) {
                                        <a
                                            class="flex items-center gap-2"
                                            [attr.href]="item.link"
                                            target="_blank"
                                        >
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    } @else {
                                        <a class="flex items-center gap-2" [routerLink]="item.link">
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    }
                                </li>
                            }
                        </div>
                    </div>
                </ul>
            </li>

            <li>
                <a
                    class="block py-2 font-bold hover:text-primary"
                    (click)="toggleDropdown('exploreDropdown')"
                    >About Us</a
                >
                <!-- Mobile Dropdown -->
                <ul
                    id="contact-dropdown"
                    class="hidden pl-4"
                    [ngClass]="{ hidden: !dropdownStates['exploreDropdown'] }"
                >
                    <div class="gap-4 p-2">
                        <div class="my-2 grid grid-cols-2 text-sm">
                            @for (item of gridItems; track item.title) {
                                @if (item.link.startsWith('http')) {
                                    <a
                                        [attr.href]="item.link"
                                        target="_blank"
                                        class="sub-item justify-items-center p-4"
                                    >
                                        <i [class]="item.icon" style="font-size: 2rem"></i>
                                        <h1 class="text-lg font-semibold">{{ item.title }}</h1>
                                    </a>
                                } @else {
                                    <a
                                        [routerLink]="item.link"
                                        class="sub-item justify-items-center p-4"
                                    >
                                        <i [class]="item.icon" style="font-size: 2rem"></i>
                                        <h1 class="text-lg font-semibold">{{ item.title }}</h1>
                                    </a>
                                }
                            }
                        </div>
                        <div
                            class="h-full space-y-2 rounded-lg border-2 border-gray-200 bg-amber-100 p-4 text-sm text-gray-700"
                        >
                            @for (item of listItemsExplore; track item.text) {
                                <li class="sub-item rounded-lg">
                                    @if (item.link.startsWith('http')) {
                                        <a
                                            class="flex items-center gap-2"
                                            [attr.href]="item.link"
                                            target="_blank"
                                        >
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    } @else {
                                        <a class="flex items-center gap-2" [routerLink]="item.link">
                                            <i [class]="item.icon" style="font-size: 1rem"></i>
                                            <span>{{ item.text }}</span>
                                        </a>
                                    }
                                </li>
                            }
                        </div>
                    </div>
                </ul>
            </li>

            <li>
                <a class="block py-2 hover:text-primary" (click)="toggleDropdown('smileDropdown')">
                    <img src="assets/logo/ff.png" alt="MyBrand Logo" class="h-8 w-24"
                /></a>
                <!-- Mobile Dropdown -->
                <ul
                    id="contact-dropdown"
                    class="hidden pl-4"
                    [ngClass]="{ hidden: !dropdownStates['smileDropdown'] }"
                >
                    <li class="gap-1 space-y-2 p-1">
                        <p-button
                            (click)="navigateToSmilesLogin()"
                            severity="info"
                            size="large"
                            label="Smiles Login"
                            icon="pi pi-user"
                        />
                        <a
                            routerLink="/co-branded-prepaid-card"
                            class="block px-4 py-2 hover:bg-gray-100"
                            ><img class="h-8 w-32" src="assets/logo/smc.png" alt="MyBrand Logo"
                        /></a>
                        <a
                            routerLink="/smiles-frequent-flyer"
                            class="block px-4 py-2 hover:bg-gray-100"
                            ><img class="h-8 w-32" src="assets/logo/smc1.png" alt="MyBrand Logo"
                        /></a>
                    </li>
                </ul>
                <p-button
                    severity="info"
                    class="mt-4"
                    (click)="navigateToAgentLogin()"
                    [outlined]="true"
                    label="Agent Login"
                    icon="pi pi-user"
                />
            </li>
        </ul>

        <div class="mobile-menu"></div>
    </nav>
</header>
