:host {
    display: block;
}

header {
    border-bottom: 3px solid; /* Set the border thickness */
    border-image: linear-gradient(to right, #0057f8, #23cefe, #fa7421, #bc4f02) 1; /* Apply the gradient to the border */
}

.mobile-menu {
    border-top: 4px solid; /* Add a gradient border at the top of the mobile menu */
    border-image: linear-gradient(to right, #0057f8, #23cefe, #fa7421, #bc4f02) 1;
}

.sub-menu {
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(68 64 60);
    &:hover {
        color: rgb(3 105 161);
    }
}

.sub-item {
    color: rgb(68 64 60);
    &:hover {
        color: rgb(3 105 161);
    }
}

.group ul {
    transition-delay: 200ms;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(238, 238, 238);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: cadetblue;
    font-size: 0.6rem;
    font-weight: 600;
    transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 5px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}
