<div class="mt-5">
    It is a condition of enrolment into the NOVOAIR SMILES FFP that a Member consents and authorizes
    NOVOAIR to collect, use and disclose information contained in the SMILES membership application
    form and other information, such as names; addresses; contact numbers; date of birth; and
    transaction details, including Miles accrual and Reward transactions relating to the SMILES FFP,
    for the purposes described below:
</div>

<div class="mb-3 mt-5">
    <ul class="space-y-3 pl-5">
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">may be used to develop new services</div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">may be used for accounting and audit purposes</div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">may be used for marketing and market research purposes</div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                will be transferred to countries that may not have data protection laws
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                will be retained and used by NOVOAIR and data processors to ensure the efficient
                running of the SMILES Program, including the crediting of Miles, the provision of
                membership statements and the Rewarding of membership levels
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                may be disclosed as required by law, including disclosures to the police,
                immigration and customs authorities
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                may be used by SMILES FFP to send you communications a bout promotions, services,
                products and facilities offered by NOVOAIR
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                may be disclosed to a Partner to assist that Partner in the planning and development
                of the SMILES FFP
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                may be used by a Partner to send you separate communications about services,
                products and facilities offered by that Partner (unless the Member indicates
                otherwise).
            </div>
        </li>
    </ul>
</div>

<div class="mb-20 mt-5">
    The consent given by a Member will continue in effect unless and until the Member withdraws the
    consent by notice in writing to a NOVOAIR Contact Centre. Withdrawal of consent may mean that
    certain services may no longer be provided to the Member, and also entitles SMILES FFP to
    terminate Membership immediately
</div>

<div class="text-xs opacity-60">
    NOVOAIR is solely responsible for the interpretation and application of the policies and
    procedures communicated in this guide and elsewhere to SMILES Miles members. All determinations
    by NOVOAIR shall be final and conclusive in each case. The SMILES Frequent Flyer program
    official rules, partners, special offers, blackout dates, awards and mileage levels, and service
    fees are subject to change with or without prior notice. NOVOAIR reserves the right to
    retroactively terminate the SMILES program or portions of the program at any time. NOVOAIR is
    not viable to compensate SMILES Members for failing to execute on FFP Rewards. <br /><br />
    NOVOAIR reserves the right to audit any and all SMILES Miles accounts for compliance with the
    rules set forth in this guide at any time, without notice to the program member. In the event
    that the audit reveals discrepancies, penalties will apply, and the processing of award requests
    may be delayed until the discrepancies are resolved. NOVOAIR also reserves the right to
    disqualify any person from participation in the SMILES Miles program if, in the sole judgment of
    NOVOAIR, with or without cause. <br />
    <br />Service by NOVOAIR to specific locations is subject to discontinuance with or without
    notice to the program members. Any SMILES promotional partner may discontinue or change its
    participation in the program with or without prior notice. NOVOAIR is not responsible for
    products and services provided by SMILES partners. SMILES Rewards may be subject to capacity
    constraints and therefore prone to blackout dates, service cancellations and other award
    limitations without prior notification.
</div>
