<div class="container mb-32">
    <h1
        class="mb-12 mt-10 bg-gradient-to-r from-[#007EE5] to-[#0059A3] bg-clip-text text-center text-4xl font-semibold text-transparent md:mb-20 md:mt-10"
    >
        FAQ'S
    </h1>
    <div
        class="card justify-content-center m-0 flex max-w-full rounded-3xl border-[0.5px] shadow-md md:p-4"
    >
        <p-accordion value="0" class="max-w-full">
            <p-accordion-panel value="0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span>How to Apply ?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="mt-5">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Any SMILES Members Customer can apply for NOVOAIR EBL Co-Branded
                                    Mastercard.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Please call MTB Helpline 16219 to place request for this
                                    card.Dedicated Relationship official will contact the customer
                                    for further processing of the application.
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >How do you measure the <br class="block sm:hidden" />
                            credit limit?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            Credit limit approval and issuance of cards will be governed by the MTB
                            policies, subject to change from time to time. Limit will be assigned
                            based on the respective income multiplier and debt-burden-ratio
                            calculated duly by the bank.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >Should I come to NOVOAIR <br class="block sm:hidden" />
                            Sales office to <br class="hidden sm:block md:block lg:hidden" />
                            take this <br class="block sm:hidden" />card?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            No, customer can contact the dedicated Relationship officer of MTB or
                            MTB helpline to avail the card. Or, alternatively, NOVOAIR can share the
                            list of such interested customers with MTB to specially approach them.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        What is the annual fee of this credit card?
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            Annual fee for UNIONPAY PLATINUM CREDIT CARD is BDT 5000 (+ 15% VAT)=
                            BDT 5750. Annual fee of 1st year is free with this card. From 2nd year
                            and onwards, Annual fee will be waived if a Cardholder does at least 15
                            transactions before next Card Anniversary Date. This waiver will not be
                            applicable in case of any Late Payment and Over Limit Charges during the
                            respective period.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="4">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >I already have one credit <br class="block sm:hidden" />
                            card, am I eligible <br class="hidden sm:block md:block lg:hidden" />
                            to take <br class="block sm:hidden" />this card?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            MTB: Customer can avail multiple card within the approved limit if
                            assessed eligible. For multiple Credit Cards, total credit limit will
                            depend on customer’s Debt-Burden Ratio as per CIB, and will not cross
                            the maximum income multiplier.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <!-- <p-accordion-panel value="5">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >If I already have an MTB Credit Card, how can I exchange my card with
                            this Co-Branded one?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            MTB: Customer can avail multiple card within the approved limit if
                            assessed eligible. For multiple MTB Credit Cards, total credit limit
                            will not cross the maximum multiplier.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel> -->
            <p-accordion-panel value="6" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >If I already have an MTB <br class="block sm:hidden" />Credit Card, how
                            can I <br class="block sm:hidden" />
                            <br class="hidden sm:block md:block lg:hidden" />exchange my card with
                            this
                            <br class="block sm:hidden" />
                            Co-Branded one?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <p>
                            MTB: Customer can avail multiple card within the approved limit if
                            assessed eligible. For multiple MTB Credit Cards, total credit limit
                            will not cross the maximum multiplier.
                        </p>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>
