<div class="relative h-8 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="mx-4 md:mx-16">
            <h1 class="title text-3xl font-bold italic md:text-5xl">Holiday Packages For</h1>
            <h1 class="title text-5xl font-bold italic md:mt-2 md:text-7xl">Sylhet</h1>
        </div>
    </div>
</div>

<div class="card relative mx-4 mt-24 md:mx-16 md:-mt-8">
    <p-carousel
        [value]="images"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        autoplayInterval="9000"
    >
        <ng-template let-image #item>
            <div class="rounded-3xl shadow-md">
                <div class="relative mx-auto">
                    <img
                        [src]="image"
                        alt="Carousel Image"
                        class="w-full rounded-3xl md:h-[600px] lg:h-[700px]"
                    />
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<app-bank-partners-card></app-bank-partners-card>
