<div class="relative mx-6 mb-10 md:-mt-24 md:mb-24">
    <h1 class="mb-6 text-2xl font-bold text-blue-700">Definition:</h1>
    <p class="mb-4">
        An infant between 10 days and under 2 years of age (travelling at 10% fare) is acceptable
        with an accompanying adult. Infants less than 10 days old may be accepted, only as approved
        Medical Case, if travelling for emergency medical treatment (in incubators) or, if the
        mother of the infant is travelling on compassionate grounds.
    </p>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">Procedure:</h2>
    <ul class="mb-6 list-disc pl-6">
        <li class="mb-2">
            Two infants with one accompanying adult are acceptable for travel if the second infant
            is over 12 months and is able to sit in a seat with a seat belt. (The second infant will
            travel at 75 %, i.e., child fare)
        </li>
        <li class="mb-2">
            Three infants are acceptable with two adults if each adult looks after one infant during
            take-off and landing and if the third infant is over 12 months and is able to sit in a
            seat with seat belt. (Child fare of 75 % will apply to the third infant). If this is not
            possible, the third infant is only acceptable with an escort.
        </li>
        <li class="mb-2">
            A collapsible carrycot, pushchair or stroller, in which an infant under 2 years of age
            is carried, will be accepted without charge.
        </li>
        <li class="mb-2">
            An infant travelling at 10 % fare, has 10 kgs of baggage allowance. If the limit is
            exceeded or it is evident that unauthorized articles have been packed in the infant
            cabin bag, then treat the excess weight as part of the allowance of the accompanying
            adult passenger(s).
        </li>
    </ul>

    <p class="font-bold text-blue-700">
        Carriage of infants in incubators will not be accepted in ATR-72 aircraft.
    </p>
</div>
