<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="mx-4 md:mx-16">
            <h1 class="title text-3xl font-bold italic md:text-5xl">NOVOAIR Privacy Policy</h1>
        </div>
    </div>
</div>
<div class="relative mx-4 -mt-16 md:mx-16 md:-mt-36">
    <div class="my-8">
        <h1 class="text-center text-3xl font-semibold text-blue-700">
            NOVOAIR Privacy <span class="text-3xl font-bold text-blue-800">Statement</span>
        </h1>
        <h1 class="mt-2 text-center text-gray-700">
            The entity responsible for your personal information is NOVOAIR Limited.
        </h1>
    </div>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Terms of <span class="font-bold text-blue-800">Use</span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            At NOVOAIR, accessible from https://www.flynovoair.com, one of our main priorities is
            the privacy of our visitors. This Privacy Policy document contains types of information
            that is collected and recorded by NOVOAIR and how we use it. If you have additional
            questions or require more information about our Privacy Policy, do not hesitate to
            contact us.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            This Privacy Policy applies only to our online activities and is valid for visitors to
            our website with regards to the information that they shared and/or collect in NOVOAIR.
            This policy is not applicable to any information collected offline or via channels other
            than this website.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Consent <span class="font-bold text-blue-800"></span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            By using our website, you hereby consent to our Privacy Policy and agree to its terms.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Information We <span class="font-bold text-blue-800">Collect</span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The personal information that you are asked to provide, and the reasons why you are
            asked to provide it, will be made clear to you at the point we ask you to provide your
            personal information.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            If you contact us directly, we may receive additional information about you such as your
            name, email address, phone number, the contents of the message and/or attachments you
            may send us, and any other information you may choose to provide.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            How We Use Your <span class="font-bold text-blue-800">Information</span>
        </h1>
        <h1>We use the information we collect in various ways, including to:</h1>
        <li class="mt-2 p-2 odd:bg-gray-100 even:bg-white">
            Provide, operate, and maintain our website
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Understand and analyze how you use our website
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Improve, personalize, and expand our website
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Communicate with you, either directly or through one of our partners, including for
            customer service, to provide you with updates and other information relating to the
            website, and for marketing and promotional purposes
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">Send you emails</li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">Find and prevent fraud</li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Log Files <span class="font-bold text-blue-800"></span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            NOVOAIR follows a standard procedure of using log files. These files log visitors when
            they visit websites. All hosting companies do this and a part of hosting services'
            analytics. The information collected by log files include internet protocol (IP)
            addresses, browser type, Internet Service Provider (ISP), date and time stamp,
            referring/exit pages, and possibly the number of clicks. These are not linked to any
            information that is personally identifiable. The purpose of the information is for
            analyzing trends, administering the site, tracking users' movement on the website, and
            gathering demographic information.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Cookies and <span class="font-bold text-blue-800">Web Beacons</span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Like any other website, NOVOAIR uses 'cookies'. These cookies are used to store
            information including visitors' preferences, and the pages on the website that the
            visitor accessed or visited. The information is used to optimize the users' experience
            by customizing our web page content based on visitors' browser type and/or other
            information.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Advertising Partners <span class="font-bold text-blue-800">Privacy Policies</span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web
            Beacons that are used in their respective advertisements and links that appear on
            NOVOAIR, which are sent directly to users' browser. They automatically receive your IP
            address when this occurs. These technologies are used to measure the effectiveness of
            their advertising campaigns and/or to personalize the advertising content that you see
            on websites that you visit.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Note that NOVOAIR has no access to or control over these cookies that are used by
            third-party advertisers.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            Third Party <span class="font-bold text-blue-800">Privacy Policies</span>
        </h1>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            NOVOAIR's Privacy Policy does not apply to other advertisers or websites. Thus, we are
            advising you to consult the respective Privacy Policies of these third-party ad servers
            for more detailed information. It may include their practices and instructions about how
            to opt-out of certain options.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            You can choose to disable cookies through your individual browser options. To know more
            detailed information about cookie management with specific web browsers, it can be found
            at the browsers' respective websites.
        </li>
    </ul>
    <ul class="my-8 list-disc pl-6 text-gray-800">
        <h1 class="font-semibold text-blue-700 underline">
            GDPR Data <span class="font-bold text-blue-800">Protection Rights</span>
        </h1>
        <h1>
            We would like to make sure you are fully aware of all of your data protection rights.
            Every user is entitled to the following:
        </h1>
        <li class="mt-2 p-2 odd:bg-gray-100 even:bg-white">
            The right to access – You have the right to request copies of your personal data. We may
            charge you a small fee for this service.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The right to rectification – You have the right to request that we correct any
            information you believe is inaccurate. You also have the right to request that we
            complete the information you believe is incomplete.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The right to erasure – You have the right to request that we erase your personal data,
            under certain conditions.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The right to restrict processing – You have the right to request that we restrict the
            processing of your personal data, under certain conditions.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The right to object to processing – You have the right to object to our processing of
            your personal data, under certain conditions.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The right to data portability – You have the right to request that we transfer the data
            that we have collected to another organization, or directly to you, under certain
            conditions.
        </li>
    </ul>
</div>
