<div class="container relative mx-6 mb-5 mt-32 md:mb-16">
    <h1 class="my-8 text-2xl font-bold text-blue-700">Travel Tips</h1>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <div>
            <ul class="list-disc pl-6">
                <li class="mb-8">
                    When it comes to traveling abroad, first piece of document you need is a
                    passport. It is the most important document.
                </li>
                <li class="mb-8">
                    If you pulled over or stopped by the law enforcement officers in a foreign
                    country, passport is your first identity along with your international drivers
                    license.
                </li>
                <li class="mb-8">
                    Before you travel, make sure your passport is valid and will not expire while
                    you are away. Most countries will not accept your passport if it has expired.
                </li>
                <li class="mb-8">
                    Always take good care of your passport. Don’t give or hand over your passport to
                    anyone. You need that to go and come in every country of the world. Without a
                    passport, you will not be able to get on the plane.
                </li>
                <li class="mb-8">
                    Keep your passport with you at all times. If you are visiting friends or family,
                    make sure that your passport is in a safe place. If you are in a hotel or
                    shopping around town, always check on it.
                </li>
                <li class="mb-8">
                    Make at least 3 photocopies of your passport. Leave one behind at your permanent
                    address, the 2nd copy with you when traveling but not with the original
                    passport. In case you lose your passport, you would need the photocopy for
                    identification.
                </li>
                <li class="mb-8">
                    If you have a scanner – scan your passport and send it to your own e-mail
                    address. It could be very helpful in case you lose your passport and the
                    photocopy can’t be located.
                </li>
                <li class="mb-8">
                    If you lose your passport, notify the local police authority and contact your
                    embassy immediately. Do not delay reporting the loss of your passport.
                </li>
                <li class="mb-8">
                    Make sure you have the proper health/immunization requirements.
                </li>
            </ul>
        </div>
        <div>
            <ul class="list-disc pl-6">
                <li class="mb-8">Carry as much currency in travelers checks as possible.</li>
                <li class="mb-8">
                    Keep a copy of all documents and credit card information in a safe place.
                </li>
                <li class="mb-8">
                    Find out some information about your destination. It is to your advantage to
                    know some basic phrases in the local language, basic facts, places of interest,
                    how to get around, etc.
                </li>
                <li class="mb-8">
                    Check all your travel documents to make sure they are in order. Passports should
                    be valid for a few months after your return date.
                </li>
                <li class="mb-8">
                    Bring your address and telephone book. Make sure you have jotted down important
                    telephone numbers in case of emergency.
                </li>
                <li class="mb-8">Check the weather conditions of your destination.</li>
                <li class="mb-8">
                    Become very alert when you are pushed around or distracted in a crowd.
                </li>
                <li class="mb-8">
                    When staying at a hotel, have your keys ready before you reach your room.
                </li>
                <li class="mb-8">
                    Every time you are in your hotel room, use the double lock at all times.
                </li>
                <li class="mb-8">
                    If any of your important travel documents, such as your passport, are lost or
                    stolen, immediately notify the local police. If you know that your country has
                    an embassy in that country, report this to them, and they can help you process
                    temporary travel documents. For credit cards, make sure you call the issuing
                    bank immediately so that they can stop the card from being used illegally.
                </li>
            </ul>
        </div>
    </div>
</div>
