:host {
    display: block;
}

@media print {
    p-accordion-panel {
        display: block !important;
    }

    p-accordion-content {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        overflow: visible !important;
    }
}
