<div class="container mb-32">
    <h1
        class="mb-12 mt-10 bg-gradient-to-r from-[#007EE5] to-[#0059A3] bg-clip-text text-center text-4xl font-semibold text-transparent md:mb-20 md:mt-10"
    >
        FAQ'S
    </h1>
    <div
        class="card justify-content-center m-0 flex max-w-full rounded-3xl border-[0.5px] shadow-md md:p-4"
    >
        <p-accordion value="0" class="max-w-full">
            <p-accordion-panel value="0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span>What is EBL NOVOAIR Co-Brand Prepaid MasterCard?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="mt-5">
                        <p>
                            With the aim to promote NOVOAIR Frequent Flyer members through SMILES
                            program, we are offering EBL NOVOAIR Co-Branded Prepaid Mastercard.
                            After first flight with SMILES ID, Customer can apply for NOVOAIR EBL
                            Co-Branded Mastercard.
                        </p>
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    It’s a Dual currency EMV MasterCard branded prepaid card
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Amount reloading is absolutely free</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    One can use the MasterCard prepaid card at more than 10000
                                    shops, restaurants and ATMs worldwide
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Discount facilities at over 1,300 partner merchants countrywide
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Round the clock access to large ATM network (EBL ATM & All
                                    MasterCard ATMs worldwide)
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What is the Process Flow for <br class="block sm:hidden" />
                            this Co-Branded Card?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    NOVOAIR invites to their existing SMILES members to avail this
                                    Card
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    EBL or new SMILES members can enroll and request NOVOAIR to get
                                    this Card through EBL.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    NOVOAIR will mail out the enrollment form pack to the SMILES
                                    members.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Once the members will revert the form to NOVOAIR, EBL will
                                    arrange to collect those completed forms & KYC (Know Your
                                    Customer) forms from NOVOAIR’s Office
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    EBL shall print the card and will post out to the SMILES members
                                    within 3 working days.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    This Pre-Paid Card will be initializing with ZERO amount and 200
                                    miles as SMILES points for redemption.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Initial card EBL Loads the amount from any EBL outlet or branch.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Amount can be taken out from ATM or used at POS through card.
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">What are the main features?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Zero balanced prepaid card without maintaining any bank account,
                                    only NOVOAIR SMILES membership required.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">No fees to process Co-Branded Card.</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    200 miles will be added to SMILES members account after issue
                                    Co-Branded Card.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Ensure transfer to card within one hour (unless otherwise there
                                    is any unavoidable circumstances) - After receipt of debit
                                    instruction
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Confirmation SMS notification by Bank</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Transaction Alert by bank - on demand</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Annual expense summary statement to all members
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Option of withdrawing fractional amount from card from branch
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Cash withdrawal facility across the country</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    In General withdrawal Limit: Min BDT 500, Max BDT 100,000.
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        What are the basic structures and conditions?
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    It is a kind of Customized Prepaid Card where the NOVOAIR will
                                    have its logo along with EBL & MasterCard.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    First time in Bangladesh, provided for the Bangladeshi Local
                                    Airlines.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Dual Currency (USD & BDT) can be used globally.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Free access of POS Transaction to any MasterCard merchant outlet
                                    within the country.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Limit: Initially Zero then available Loaded Balance
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Daily Calendar Limit: <br />ATM - BDT. 50,000 in 6 transactions
                                    & POS – BDT.40,000 in 6 transactions <br />
                                    Maximum 6 Transactions per day
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="4">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Fees & Cost?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Issue Fee: Not Applicable</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Annual Fee: Not Applicable for first 3 years. Then BDT 200 + VAT
                                    will be applicable on demand.
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">Card Replacement Fee: BDT 200+VAT</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">PIN Replacement Fee: BDT 200+ VAT</div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="5">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold">Maximum Re-Load Limit?</span>
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">BDT 100,000 per day from Branch</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">BDT 20,000 per day from Internet Banking</div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    KYC Form is mandatory for Re-load above BDT 20,000
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="6" class="!border-b-0">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        @if (active) {
                            <i class="pi pi-minus"></i>
                        } @else {
                            <i class="pi pi-plus"></i>
                        }
                    </ng-template>
                    <span class="flex w-full items-center gap-2">
                        <span class="whitespace-nowrap font-bold"
                            >What will be the contact <br class="block sm:hidden" />
                            points for customers query?</span
                        >
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="m-0">
                        <ul class="mb-5 mt-3 space-y-3 pl-5">
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Query related to NOVOAIR or SMILES program, contact NOVOAIR:
                                    13603 [Everyday 6AM-9PM]
                                </div>
                            </li>
                            <li class="-ml-2 flex">
                                <div class="-mt-1 flex-shrink-0">
                                    <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
                                </div>
                                <div class="ml-3">
                                    Query related to Transaction, Card, Eastern Bank Limited or
                                    MasterCard, contact EBL: 16230 [24x7]
                                </div>
                            </li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>
