<div class="container relative mt-16 md:mt-32">
    <div class="my-16 h-96 rounded-2xl md:my-32">
        <div
            class="flex h-full w-full rounded-2xl bg-[url('../assets/images/BlueOrange.png')] bg-cover bg-center bg-no-repeat"
        >
            <div class="h-full w-1/2"></div>
            <div class="flex h-full w-1/2 items-end justify-end pb-9 pr-7">
                <div>
                    <div class="mb-3 flex justify-end">
                        <button
                            class="group flex cursor-pointer items-center justify-center gap-3 rounded-[10px] bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-6 py-1 transition-all duration-500 ease-in-out hover:mb-1 hover:scale-110 hover:shadow-lg"
                            [routerLink]="['/']"
                        >
                            <span
                                class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-2xl font-semibold leading-[43.1px] tracking-[0.04em] text-transparent"
                                >Apply Now</span
                            >

                            <i
                                class="pi pi-external-link text-md mt-1 !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                            ></i>
                        </button>
                    </div>
                    <div
                        class="md:gap:3 flex flex-col items-end justify-end gap-3 md:flex md:flex-row md:justify-center"
                    >
                        <button
                            class="flex w-1/2 cursor-pointer items-center justify-center gap-2 rounded-2xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-2 py-1 font-semibold leading-[43.1px] tracking-[0.04em] transition-all duration-500 ease-in-out hover:scale-110 hover:shadow-lg md:px-7 md:py-1"
                            [routerLink]="['/']"
                        >
                            <i
                                class="pi pi-phone mb-[0.125rem] pt-1 !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                            ></i>

                            <span
                                class="group bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                                >13603</span
                            >
                        </button>
                        <button
                            class="group flex max-w-80 cursor-pointer items-center justify-center gap-2 rounded-xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-4 py-1 font-semibold leading-[43.1px] tracking-[0.04em] transition-all duration-500 ease-in-out hover:ml-3 hover:scale-110 hover:shadow-lg"
                            [routerLink]="['/']"
                        >
                            <i
                                class="pi pi-envelope text-md mt-1 !font-[1000] text-[#0088DD] transition-transform duration-500 ease-in-out group-hover:scale-110"
                            ></i>

                            <span
                                class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                                >smiles&#64;flynovoair.com</span
                            >
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex h-auto flex-col rounded-xl border-2 bg-white shadow-sm md:h-64 md:flex-row">
        <div class="group h-full w-full rounded-xl md:w-2/5 md:rounded-bl-xl md:rounded-tl-xl">
            <div
                class="relative h-full w-full overflow-hidden rounded-tl-xl rounded-tr-xl md:rounded-bl-xl md:rounded-br-none md:rounded-tl-xl md:rounded-tr-none"
            >
                <img
                    src="assets/images/advanntages.png"
                    class="h-full w-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110"
                    alt="advantages"
                />
            </div>
        </div>

        <div class="flex h-full w-full items-center justify-center p-4 md:w-3/5">
            <div class="ml-2">
                <h1
                    class="bg-gradient-to-r from-[#007EE6] to-[#0059A3] bg-clip-text text-3xl font-bold leading-[54px] text-transparent"
                >
                    Advantages
                </h1>

                <p class="mb-3 mt-2 text-left text-sm font-normal leading-6">
                    EBL NOVOAIR Co-Brand Prepaid is a convenient, flexible & simple solution for
                    NOVOAIR SMILES customers for making everyday spending in style! Cardholder can
                    address all the individual needs, at home and abroad, through this card with
                    enhanced security.
                </p>
                <p-button
                    styleClass="text-md font-semibold bg-white border-[0.094rem] border-[#226a8b] text-[#0170BB] rounded-2xl py-1 px-4 transition-all duration-500 ease-in-out transform hover:scale-105 hover:bg-[#0170BB] hover:text-white hover:border-[#0170BB] hover:border-2"
                >
                    Learn more
                </p-button>
            </div>
        </div>
    </div>
</div>
