<!-- TODO: set image card here later  -->
<p class="my-10">image card.......</p>
<!-- ------ -->

<div class="flex h-64 flex-col rounded-xl border-2 bg-white shadow-sm md:flex-row">
    <div class="h-full w-full rounded-bl-xl rounded-tl-xl md:w-2/5">
        <img
            src="../../../../assets/co-brandeed-prepaid-card/t.png"
            alt=""
            class="h-full w-full rounded-bl-xl rounded-tl-xl"
        />
        <!-- <img
            src="../../../../assets/co-brandeed-prepaid-card/timeToTravelTheWorld.png"
            alt=""
            srcset=""
            class="h-full w-full"
        /> -->
    </div>
    <div class="flex h-full w-full items-center justify-center p-4 md:w-3/5">
        <div class="ml-2">
            <h1
                class="bg-gradient-to-r from-[#007EE6] to-[#0059A3] bg-clip-text text-3xl font-bold leading-[54px] text-transparent"
            >
                Advantages
            </h1>

            <p class="mb-3 mt-2 text-left text-sm font-normal leading-6">
                EBL NOVOAIR Co-Brand Prepaid is a convenient, flexible & simple solution for NOVOAIR
                SMILES customers for making everyday spending in style! Cardholder can address all
                the individual needs, at home and abroad, through this card with enhanced security.
            </p>
            <!-- <button
                class="h-[2.15rem] w-[7.25rem] rounded-2xl bg-gradient-to-r from-[#1A6182] to-[#0F85BC]"
            >
                <span class="rounded-xl bg-white px-3 py-1 text-[#0170BB]">Learn more</span>
            </button> -->
            <p-button
                styleClass="text-md font-semibold bg-white border-[0.094rem] border-[#226a8b] text-[#0170BB] rounded-2xl py-1 px-4"
                >Learn more</p-button
            >
        </div>
    </div>
</div>
