<div class="my-10 h-96 rounded-2xl">
    <div
        class="flex h-full w-full rounded-2xl bg-[url('../assets/co-brandeed-prepaid-card/BlueOrange.png')] bg-cover bg-center bg-no-repeat"
    >
        <div class="h-full w-1/2"></div>
        <div class="flex h-full w-1/2 items-end justify-end pb-9 pr-7">
            <div>
                <div class="mb-3 flex justify-end">
                    <div
                        class="flex items-center justify-center gap-2 rounded-[10px] bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-6 py-1"
                    >
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl font-semibold leading-[43.1px] tracking-[0.04em] text-transparent md:text-2xl"
                            >Apply Now</span
                        >
                        <span class="h-5 w-5">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/Vector.png"
                                alt=""
                                class="h-full w-full"
                            />
                        </span>
                    </div>
                </div>
                <div
                    class="md:gap:3 flex flex-col items-end justify-end gap-3 md:flex md:flex-row md:justify-center"
                >
                    <div
                        class="flex w-1/2 items-center justify-center gap-2 rounded-2xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-2 py-1 font-semibold leading-[43.1px] tracking-[0.04em] md:px-7 md:py-1"
                    >
                        <span class="h-[1.40rem] w-[1.20rem]">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/phoneIcon.png"
                                alt=""
                                class="h-full w-full pt-1"
                            />
                        </span>
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                            >13603</span
                        >
                    </div>
                    <div
                        class="flex max-w-80 items-center justify-center gap-2 rounded-xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-4 py-1 font-semibold leading-[43.1px] tracking-[0.04em]"
                    >
                        <span class="mt-1 h-4 w-5">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/mailIcon.png"
                                alt=""
                                class="h-full w-full"
                            />
                        </span>
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-lg text-transparent md:text-xl"
                            >smiles&#64;flynovoair.com</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex h-auto flex-col rounded-xl border-2 bg-white shadow-sm md:h-64 md:flex-row">
    <div class="h-full w-full rounded-xl md:w-2/5 md:rounded-bl-xl md:rounded-tl-xl">
        <img
            src="../../../../assets/co-brandeed-prepaid-card/advanntages.png"
            alt=""
            srcset=""
            class="h-full w-full rounded-tl-xl rounded-tr-xl md:rounded-bl-xl md:rounded-br-none md:rounded-tl-xl md:rounded-tr-none"
        />
    </div>
    <div class="flex h-full w-full items-center justify-center p-4 md:w-3/5">
        <div class="ml-2">
            <h1
                class="bg-gradient-to-r from-[#007EE6] to-[#0059A3] bg-clip-text text-3xl font-bold leading-[54px] text-transparent"
            >
                Advantages
            </h1>

            <p class="mb-3 mt-2 text-left text-sm font-normal leading-6">
                EBL NOVOAIR Co-Brand Prepaid is a convenient, flexible & simple solution for NOVOAIR
                SMILES customers for making everyday spending in style! Cardholder can address all
                the individual needs, at home and abroad, through this card with enhanced security.
            </p>
            <p-button
                styleClass="text-md font-semibold bg-white border-[0.094rem] border-[#226a8b] text-[#0170BB] rounded-2xl py-1 px-4"
                >Learn more</p-button
            >
        </div>
    </div>
</div>
