<div class="container mt-24 md:-mt-24">
    <h1 class="sub-title">Excess Baggage Rate Per <span class="sub-title2">Additional Kg</span></h1>
    <div
        class="mt-10 justify-around rounded-3xl border-2 border-dashed border-gray-200 bg-gray-50 p-4 md:mt-24 md:flex"
    >
        <div class="w-full p-2 md:mx-8 md:p-0">
            <h1
                class="bg-gradient-to-br from-[#1d4c55] to-[#60faff] bg-clip-text text-3xl font-bold italic text-transparent"
            >
                Domestic
            </h1>
            <div class="mt-2 flex items-center justify-between">
                <h1 class="text-gray-700 md:text-2xl">Outbound & Inbound</h1>
                <h1 class="font-bold text-gray-700 md:text-2xl">BDT 150</h1>
            </div>
        </div>
        <div
            class="justify-content-center mx-6 my-auto hidden h-32 border border-gray-200 md:flex"
        ></div>
        <div class="w-full p-2 md:mx-8 md:p-0">
            <h1
                class="mt-4 bg-gradient-to-br from-[#1d4c55] to-[#60faff] bg-clip-text text-3xl font-bold italic text-transparent md:mt-0"
            >
                International
            </h1>
            <div class="mt-2 flex items-center justify-between">
                <h1 class="text-gray-700 md:text-2xl">Outbound (DAC-CCU)</h1>
                <h1 class="font-bold text-gray-700 md:text-2xl">BDT 150</h1>
            </div>
            <div class="flex items-center justify-between">
                <h1 class="text-gray-700 md:text-2xl">Inbound(CCU-DAC)</h1>
                <h1 class="font-bold text-gray-700 md:text-2xl">INR 350</h1>
            </div>
        </div>
    </div>
</div>
