:host {
    display: block;
}

footer {
    border-top: 8px solid; /* Set the border thickness */
    border-image: linear-gradient(to right, #0057f8, #23cefe, #fa7421, #bc4f02) 1; /* Apply the gradient to the border */
}
