@layer tailwind-base, primeng, tailwind-utilities;
@import 'primeicons/primeicons.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import 'primeicons/primeicons.css';

html,
body {
    font-size: 18px;
    @apply h-full;
    font-family: 'Noto Sans', sans-serif;
}

.btn-primary {
    color: rgb(255 255 255);
    background-color: #1a6182; /* Fallback */
    background-image: linear-gradient(to right, #155572, #1a82ac);
}

.title {
    color: transparent;
    text-shadow:
        4px 4px 7px rgba(255, 255, 255, 0.5),
        0 0 rgba(1, 112, 185, 0.959);
}

.sub-title {
    color: rgba(1, 112, 185, 0.959);
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
}
.sub-title2 {
    color: rgba(1, 95, 158, 0.959);
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.heading {
    font-weight: 700;
    color: rgba(1, 112, 185, 0.959);
    text-decoration-line: underline;
}

.container {
    @media (min-width: 300px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (min-width: 768px) {
        /* md:mx-auto */
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px; /* md:max-w-[1200px] */
    }

    @media (min-width: 1800px) {
        /* 2xl:max-w-[1300px] */
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1300px;
    }

    @media (min-width: 2020px) {
        /* 3xl:max-w-[1500px] */
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1500px;
    }
}
