@layer tailwind-base, primeng, tailwind-utilities;
@import 'primeicons/primeicons.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import 'primeicons/primeicons.css';

html,
body {
    @apply h-full;
    font-family: 'Noto Sans', sans-serif;
}

.btn-primary {
    color: rgb(255 255 255);
    background-color: #1a6182; /* Fallback */
    background-image: linear-gradient(to right, #155572, #1a82ac);
}

.title {
    color: transparent;
    text-shadow:
        4px 4px 7px rgba(255, 255, 255, 0.5),
        0 0 #00798f;
}
