<div class="mx-4 mt-24 md:mx-16">
    <h1 class="text-center text-3xl font-semibold text-blue-700">
        Your All-in-One <span class="text-3xl font-bold text-blue-800">Travel App</span>
    </h1>
    <p class="mx-auto mt-2 w-full text-center md:w-1/2">
        Get flights, hotels, holidays and visa assistance in just a few taps. Enjoy real-time flight
        updates, schedules, travel info, play games, win trip coins and much more.
    </p>
    <div class="mt-12 justify-items-center">
        <img class="h-96 w-96" src="assets/images/app.png" alt="App Image" />
    </div>
</div>
