<div class="container mt-24">
    <h1 class="sub-title">Your All-in-One <span class="sub-title2 font-bold">Travel App</span></h1>
    <p class="mx-auto mt-2 w-full text-center md:w-1/2">
        Get flights, hotels, holidays and visa assistance in just a few taps. Enjoy real-time flight
        updates, schedules, travel info, play games, win trip coins and much more.
    </p>
    <div class="mt-12 flex justify-center">
        <a href="/mobile-checkin">
            <img
                class="h-52 w-52 cursor-pointer md:h-96 md:w-96"
                src="assets/images/app.png"
                alt="App Image"
            />
        </a>
    </div>
</div>
