<div class="mt-20 sm:mt-24 lg:mt-[4.7rem]">
    <div class="relative h-64">
        <img
            src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
            alt=""
            class="absolute inset-0 -z-10 h-full w-full object-cover"
        />

        <div class="relative top-8 z-40 mx-6 md:mx-14 lg:mx-24">
            <h1
                class="text-3xl font-bold italic tracking-tight text-[#017388] sm:text-4xl lg:text-5xl lg:tracking-tighter"
            >
                Our Destinations
            </h1>

            <div class="mt-6">
                <app-domestic-destination></app-domestic-destination>
            </div>
            <div class="mt-6">
                <app-international-destination></app-international-destination>
            </div>
        </div>
    </div>
</div>
