<div class="my-10 h-[25.438rem] rounded-2xl">
    <div
        class="flex h-full w-full rounded-2xl bg-[url('../assets/co-brandeed-prepaid-card/BlueOrange.png')] bg-cover bg-center bg-no-repeat"
    >
        <div class="flex h-full w-1/2 items-end pb-6 pl-6">
            <div>
                <div class="mb-3 flex justify-start">
                    <div
                        class="flex items-center justify-center gap-2 rounded-[10px] bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-6 py-1"
                    >
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-2xl font-semibold leading-[43.1px] tracking-[0.04em] text-transparent"
                            >Apply Now</span
                        >
                        <span class="h-5 w-5">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/Vector.png"
                                alt=""
                                class="h-full w-full"
                            />
                        </span>
                    </div>
                </div>
                <div class="flex justify-center gap-3">
                    <div
                        class="flex items-center justify-center gap-2 rounded-2xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-7 py-1 font-semibold leading-[43.1px] tracking-[0.04em]"
                    >
                        <span class="h-[1.40rem] w-[1.20rem]">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/phoneIcon.png"
                                alt=""
                                class="h-full w-full pt-1"
                            />
                        </span>
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                            >13603</span
                        >
                    </div>
                    <div
                        class="flex max-w-80 items-center justify-center gap-2 rounded-xl bg-gradient-to-r from-[#FFFBE1] to-[#E6D4B4] px-4 py-1 font-semibold leading-[43.1px] tracking-[0.04em]"
                    >
                        <span class="mt-1 h-4 w-5">
                            <img
                                src="../../../../assets/co-brandeed-prepaid-card/mailIcon.png"
                                alt=""
                                class="h-full w-full"
                            />
                        </span>
                        <span
                            class="bg-gradient-to-r from-[#0088DD] to-[#0076C4] bg-clip-text text-xl text-transparent"
                            >smiles&#64;flynovoair.com</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="h-full w-1/2"></div>
    </div>
</div>
