<div>
    <h1 class="text-center text-4xl font-medium text-[#0070cb]">
        Domestic <span class="text-4xl font-semibold text-[#0169bf]">Destination</span>
    </h1>
    <div class="">
        <div class="flex h-96 justify-between gap-5">
            <div
                class="h-full w-3/5 border border-red-500 bg-[url('../assets/destination/songshodBhobon.png')] bg-cover bg-no-repeat"
            >
                <!-- <img
                    src="../../../../assets/destination/songshodBhobon.png"
                    alt=""
                    class="h-full w-full bg-cover bg-left"
                /> -->

                <div class="flex h-full w-5/6 flex-col justify-end p-5">
                    <h1 class="text-white">Dhaka</h1>
                    <p class="text-white">
                        Dhaka, is the capital and largest city of Bangladesh. With its colorful
                        history and rich cultural traditions, Dhaka is known the world over as the
                        city of mosques and muslin. <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>
            <div
                class="h-full w-2/5 border border-black bg-[url('../assets/destination/chattragram.png')] bg-cover bg-no-repeat"
            >
                <!-- <img
                    src="../../../../assets/destination/chattragram.png"
                    alt=""
                    class="h-full bg-cover bg-center"
                /> -->
                <div class="flex h-full flex-col justify-end p-5">
                    <h1 class="text-white">Chattogram</h1>
                    <p class="text-white">
                        Chattogram is the biggest seaport and second largest town in Bangladesh
                        situated by the Bay of Bengal. It is 264 km away east of Dhaka, famous for
                        hill areas. <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex h-[300px] justify-between gap-5">
            <div class="h-full w-1/3 border border-red-500"></div>
            <div class="h-full w-1/3 border border-black"></div>
            <div class="h-full w-1/3 border border-black"></div>
        </div>
        <div class="flex items-center justify-center">
            <button class="border-2 px-4 py-2">View more</button>
        </div>
    </div>
</div>
