<div class="relative mx-4 mt-12 md:mx-16 md:mt-24">
    <h1 class="mb-12 mt-14 text-center text-2xl font-medium text-[#0070cb] md:mb-24 md:text-3xl">
        Domestic <span class="text-2xl font-semibold text-[#0169bf] md:text-3xl">Destination</span>
    </h1>

    <div class="pb-6">
        <div
            class="mb-3 flex flex-col gap-4 md:mb-3 md:h-96 md:flex-row md:justify-between md:gap-4"
        >
            <div
                class="group relative h-64 w-full overflow-hidden rounded-[10px] bg-[url('../assets/images/songshodBhobon.png')] bg-cover bg-no-repeat shadow-lg md:h-full md:w-3/5"
            >
                <div
                    class="absolute inset-0 z-0 h-full w-full transform bg-[url('../assets/images/songshodBhobon.png')] bg-cover bg-center transition-transform duration-500 ease-in-out group-hover:scale-110"
                ></div>

                <div
                    class="absolute inset-0 z-10 flex transform flex-col justify-end p-6 transition-all duration-500 ease-in-out group-hover:translate-x-4 group-hover:scale-105 group-hover:pr-6"
                >
                    <h1 class="text-xl font-semibold text-[#00BFFF] md:text-3xl">Dhaka</h1>
                    <p class="mt-2 text-sm font-normal text-white">
                        Dhaka, is the capital and largest city of Bangladesh. With its colorful
                        history and rich cultural traditions, Dhaka is known the world over as the
                        city of mosques and muslin. <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>

            <div
                class="group relative h-64 w-full overflow-hidden rounded-[10px] bg-[url('../assets/images/chattragram.png')] bg-cover bg-center bg-no-repeat shadow-lg md:h-full md:w-2/5"
            >
                <div
                    class="absolute inset-0 z-0 h-full w-full transform bg-[url('../assets/images/chattragram.png')] bg-cover bg-center transition-transform duration-500 ease-in-out group-hover:scale-110"
                ></div>

                <div
                    class="absolute inset-0 z-10 flex transform flex-col justify-end p-6 transition-all duration-500 ease-in-out group-hover:translate-x-4 group-hover:scale-105 group-hover:pr-6"
                >
                    <h1 class="text-xl font-semibold text-[#00BFFF] md:text-3xl">Chattogram</h1>
                    <p class="mt-2 text-sm font-normal text-white">
                        Chattogram is the biggest seaport and second largest town in Bangladesh
                        situated by the Bay of Bengal. It is 264 km away east of Dhaka, famous for
                        hill areas. <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 md:mb-6 md:grid-cols-3 md:gap-4">
            <div
                class="group relative min-h-64 w-full overflow-hidden rounded-[10px] bg-[url('../assets/images/jashore.png')] bg-cover bg-left-bottom shadow-lg"
            >
                <div
                    class="absolute inset-0 z-0 h-full w-full transform bg-[url('../assets/images/jashore.png')] bg-cover bg-left-bottom bg-no-repeat transition-transform duration-500 ease-in-out group-hover:scale-110"
                ></div>

                <div
                    class="absolute inset-0 z-10 flex transform flex-col justify-end p-6 transition-all duration-500 ease-in-out group-hover:translate-x-4 group-hover:scale-105 group-hover:pr-6"
                >
                    <h1 class="text-xl font-semibold text-[#00BFFF] md:text-2xl">Jashore</h1>
                    <p class="mt-2 text-sm font-normal text-white">
                        Jashore is a district in the southwestern region of Bangladesh. Apart from
                        some attractive colonial architecture, most notably the huge Court House
                        building, there is little to see <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>

            <div
                class="group relative min-h-64 w-full overflow-hidden rounded-[10px] bg-[url('../assets/images/coxsbazar.png')] bg-cover bg-center shadow-lg"
            >
                <div
                    class="absolute inset-0 z-0 h-full w-full transform bg-[url('../assets/images/coxsbazar.png')] bg-cover bg-center bg-no-repeat transition-transform duration-500 ease-in-out group-hover:scale-110"
                ></div>

                <div
                    class="absolute inset-0 z-10 flex transform flex-col justify-end overflow-hidden p-6 transition-all duration-500 ease-in-out group-hover:translate-x-4 group-hover:scale-105 group-hover:pr-6"
                >
                    <h1 class="text-xl font-semibold text-[#00BFFF] md:text-2xl">Cox's Bazar</h1>
                    <p class="mt-2 text-sm font-normal text-white">
                        Cox's Bazar is one of the most attractive tourist spots & the longest sea
                        beach in the world (approx. 120 km long). Miles of golden sands, towering
                        cliffs, surfing waves,
                        <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>

            <div
                class="group relative min-h-64 w-full overflow-hidden rounded-[10px] bg-[url('../assets/images/sylhet.png')] bg-cover bg-center shadow-lg"
            >
                <div
                    class="absolute inset-0 z-0 h-full w-full transform bg-[url('../assets/images/sylhet.png')] bg-cover bg-center bg-no-repeat transition-transform duration-500 ease-in-out group-hover:scale-110"
                ></div>

                <div
                    class="absolute inset-0 z-10 flex transform flex-col justify-end overflow-hidden p-6 transition-all duration-500 ease-in-out group-hover:translate-x-4 group-hover:scale-105 group-hover:pr-6"
                >
                    <h1 class="text-xl font-semibold text-[#00BFFF] md:text-2xl">Sylhet</h1>
                    <p class="mt-2 text-sm font-normal text-white">
                        Sylhet is the land of Shrine's, natural Hills, forests, beautiful tree
                        plantations and lots of Haors. It is an old city with full of natural
                        beauties. A large number of tourists come every year to visit Sylhet.
                        <span class="text-[#07b1fe]">More</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center pt-12">
            <button
                class="transform rounded-3xl border-2 border-[#07b1fe] bg-white px-5 py-2 text-lg font-medium text-[#595959] transition-all duration-500 ease-in-out hover:scale-110 hover:bg-[#07b1fe] hover:text-white hover:shadow-md"
            >
                View more
            </button>
        </div>
    </div>
</div>
