<div class="container mt-24 rounded-3xl shadow-sm md:mt-8 md:flex">
    <img
        class="h-full w-full rounded-tl-3xl rounded-tr-3xl md:w-[55vw] md:rounded-bl-3xl md:rounded-tr-none"
        src="assets/images/destination-card.png"
    />
    <div
        class="card-bg flex w-full items-center rounded-bl-3xl rounded-br-3xl md:w-[40vw] md:rounded-bl-none md:rounded-tr-3xl"
    >
        <div class="ml-2 mt-4 pb-4 text-white md:ml-8 md:mt-0 md:pb-0">
            <h2 class="text-lg md:text-xl md:font-semibold">Choose Your Next</h2>
            <h1 class="text-xl font-bold md:mt-2 md:text-4xl">Destination</h1>
            <p class="my-2 text-sm md:my-6">Set a date for that trip you dream of so much</p>
            <a
                href="/our-destination"
                class="cursor-pointer text-sm text-sky-300 underline hover:text-sky-500"
            >
                Explore Our Destinations
            </a>
        </div>
    </div>
</div>
