<div class="relative mx-6 mt-5 md:-mt-24">
    <h1 class="mb-6 text-2xl font-bold text-blue-700">Photo ID is Mandatory for any Air Travel</h1>

    <p class="mb-4">
        In accordance with the circular from the Civil Aviation Authority published on 30 June 2017
        (Ref: CAAB/1705/11/AT/4188), all passengers traveling by air on the domestic route must
        produce their valid photo identity card at the check-in counter along with the ticket. Any
        one of the following identity cards will be treated as a valid photo identity card:
    </p>

    <ul class="mb-6 list-disc pl-6">
        <li>Passport</li>
        <li>National ID Card</li>
        <li>Driving License</li>
        <li>Any ID Card with Photograph</li>
        <li>School/College/University ID (Students)</li>
        <li>Birth Certificate / Immunization Card (Child & Infant)</li>
    </ul>

    <p class="font-bold text-blue-700">NAME CHANGES IS STRICTLY PROHIBITED</p>
</div>
