<div class="relative h-8 md:h-12">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container items-center justify-between gap-8 md:flex">
            <h1 class="title text-3xl font-bold italic tracking-tighter md:text-5xl">
                Group Booking
            </h1>
        </div>
    </div>
</div>

<div class="container relative mt-24">
    <div class="mt-6 flex items-center justify-between rounded-lg">
        <div class="text-gray-800">
            <p>
                Planning for a vacation with friends and family? Or a business travel with partners
                and colleagues? We might have attractive offers for you! Call at the indicated
                number to know more.
            </p>
        </div>
    </div>

    <div class="mt-4 flex justify-between rounded-lg bg-white p-6 shadow">
        <div>
            <h3 class="font-semibold text-gray-700">Contact Point</h3>
            <p>NOVOAIR Limited House-50, Road-11, Block-F Banani, Dhaka-1213, Bangladesh</p>
            <p>Hotline: 13603</p>
            <p>
                Email:
                <a href="mailto:sales&#64;flynovoair.com" class="text-blue-500"
                    >sales&#64;flynovoair.com</a
                >
            </p>
        </div>
        <div class="flex items-center">
            <div class="rounded-l-lg bg-orange-500 p-4">
                <i class="pi pi-phone" style="color: green"></i>
            </div>
            <div class="rounded-r-lg bg-white p-4 shadow-lg">
                <p class="text-blue-500">CALL NOW</p>
                <p class="font-bold text-blue-600">01755656660-1</p>
            </div>
        </div>
    </div>
</div>
