<div class="gallery">
    <img class="four-grid-cells" src="assets/images/saintmartin4.jpeg" alt="" />

    <img src="assets/images/kuakata3.jpg" alt="" />
    <img class="wide-image" src="assets/images/sundarban3.jpg" alt="" />

    <img src="assets/images/sundarban2.jpg" alt="" />

    <img src="assets/images/rajshahi3.webp" alt="" />

    <img class="wide-image" src="assets/images/chattragram3.jpg" alt="" />

    <img src="assets/images/sylhet3.jpg" alt="e" />
</div>

<div class="mt-32 hidden md:block">
    <div class="grid grid-cols-1 grid-rows-3 gap-3 md:grid-cols-4">
        <div class="image-container col-span-2 row-span-3">
            <img class="" src="assets/images/saintmartin4.jpeg" alt="" />
            <div class="overlay">Saintmartin</div>
        </div>

        <div class="image-container col-span-1 row-span-1">
            <img src="assets/images/kuakata3.jpg" alt="" />
            <div class="overlay">Kuakata</div>
        </div>
        <div class="image-container col-span-1 row-span-1">
            <img class="" src="assets/images/sundarban2.jpg" alt="" />
            <div class="overlay">Sundarban</div>
        </div>
        <div class="image-container col-span-2 row-span-2">
            <img class="" src="assets/images/sundarban3.jpg" alt="" />
            <div class="overlay">Sundarban</div>
        </div>
    </div>

    <div class="mt-3 grid grid-cols-1 grid-rows-3 gap-3 md:grid-cols-4">
        <div class="image-container col-span-1 row-span-2">
            <img class="" src="assets/images/rajshahi3.webp" alt="" />
            <div class="overlay">Rajshahi</div>
        </div>
        <div class="image-container col-span-2 row-span-2">
            <img class="" src="assets/images/chattragram3.jpg" alt="" />
            <div class="overlay">Chattragram</div>
        </div>
        <div class="image-container col-span-1 row-span-2">
            <img class="" src="assets/images/sylhet3.jpg" alt="" />
            <div class="overlay">Sylhet</div>
        </div>
    </div>
</div>
