<div class="relative h-8 md:h-12">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container items-center justify-between gap-8 md:flex">
            <h1 class="title text-3xl font-bold italic tracking-tighter text-[#017388] md:text-5xl">
                Future Destinations
            </h1>
        </div>
    </div>
</div>

<div class="container relative mb-4 md:mb-24 md:mt-16">
    <img class="rounded-md" src="../assets/images/international_routes_png.png" alt="" />
</div>
