<div class="relative h-96 md:h-72">
    <img class="absolute w-full" src="assets/images/main-hero.png" alt="Background Image" />
    <!-- <div class="mr-2 flex justify-end">
        <p-button
            severity="secondary"
            [raised]="true"
            [style]="{ fontSize: '12px', padding: '2px 6px' }"
        >
            <span><i style="font-size: 0.7rem" class="pi pi-user mr-1"></i>Agent Login</span>
        </p-button>
        <div class="card absolute">
            <p><span>HOVER ME</span></p>
        </div>
    </div> -->
    <div class="relative top-10 z-10">
        <app-hero-section></app-hero-section>
    </div>
</div>
<app-destination-card class="relative mt-36 md:mt-0"></app-destination-card>
<app-ongoing-offers-card></app-ongoing-offers-card>
<app-fare-deals></app-fare-deals>
<app-travel-guideline></app-travel-guideline>
<a href="https://www.flynovoair.com/novoneel/2024/oct/#p=1" target="_blank"
    ><img
        class="container my-24 rounded-3xl shadow-sm hover:shadow-md md:h-56"
        src="assets/images/novoneel.png"
        alt="Background Image"
/></a>
<app-get-our-app></app-get-our-app>
