<div class="relative mb-20 mt-16 text-gray-800 md:mt-28">
    <h2 class="mb-4 mt-6 text-xl font-bold text-blue-700">
        CARRIAGE OF FIREARMS <span class="text-blue-800">AND WEAPONS</span>
    </h2>
    <p class="mb-4">
        NOVOAIR accepts the carriage of weapons by law enforcement and other authorized personnel
        and ensures safe carriage of the same by the qualified/competent staffs. The weapons are
        loaded in aircraft in a place inaccessible to any person during the flight. To carry weapon
        on must bring valid license/CC/Move order as applicable. <br />
        <br />
        On arrival, passengers must be filling up the designated weapon declaration form.
    </p>
</div>
