<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container">
            <h1 class="title text-3xl font-bold italic md:text-5xl">
                10% Discount for Brac Bank Cardholder
            </h1>
        </div>
    </div>
</div>
<div class="container relative mt-8 md:-mt-32">
    <img
        class="w-full rounded-3xl"
        src="assets/images/offers/brac_banner.jpg"
        alt="Background Image"
    />
    <h1 class="mt-4 text-xl font-semibold">
        Promo Code : <span class="font-bold text-teal-800">VQBBW</span>
    </h1>
    <h1 class="text-xl font-semibold">
        Validity : <span class="font-bold text-teal-800">31 Dec 2024</span>
    </h1>
</div>
<div class="container mb-8">
    <h1 class="sub-title my-16">TERMS & <span class="sub-title2">CONDITIONS</span></h1>
    <ul class="list-disc pl-6 text-gray-800">
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Cardholders must use promo code <span class="text-teal-500">“VQBBW”</span> to get the
            discount offer from <span class="text-teal-500">www.flynovoair.com</span> or NOVOAIR
            app.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Discount applicable on the base fare of adult and children tickets only. No discount
            will be offered on taxes & other charges.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            Discount offer cannot be clubbed with any other offer.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            The service delivery, refund and exchange policies are set as per the rules and
            regulations of NOVOAIR.
        </li>
        <li class="p-2 odd:bg-gray-100 even:bg-white">
            To know details please call NOVOAIR hotline number at 13603.
        </li>
    </ul>
</div>
