<div class="relative mx-4 mb-8 md:mx-16">
    <h1 class="my-12 text-center text-3xl font-semibold text-blue-700">
        Web <span class="text-3xl font-bold text-blue-800">& App Offers</span>
    </h1>
    <div class="grid gap-4 md:grid-cols-4">
        @for (package of webOffers; track package.title) {
            <div class="rounded-3xl bg-stone-50 shadow-sm hover:shadow-md">
                <img
                    class="rounded-tl-3xl rounded-tr-3xl"
                    [src]="package.imageUrl"
                    [alt]="package.title"
                />
                <h1
                    [routerLink]="package.route"
                    class="cursor-pointer p-2 font-bold text-gray-700 hover:text-blue-700"
                >
                    {{ package.title }}
                </h1>
            </div>
        }
    </div>
    <h1 class="my-12 text-center text-3xl font-semibold text-blue-700">
        Counter<span class="text-3xl font-bold text-blue-800">Offers</span>
    </h1>
    <div class="grid gap-4 md:grid-cols-4">
        @for (package of counterOffers; track package.title) {
            <div class="rounded-3xl bg-stone-50 shadow-sm hover:shadow-md">
                <img
                    class="rounded-tl-3xl rounded-tr-3xl"
                    [src]="package.imageUrl"
                    [alt]="package.title"
                />
                <h1
                    [routerLink]="package.route"
                    class="cursor-pointer p-2 font-bold text-gray-700 hover:text-blue-700"
                >
                    {{ package.title }}
                </h1>
            </div>
        }
    </div>
</div>
