<div class="relative mb-5 md:-mt-20 md:mb-20">
    <p class="mb-4 font-semibold text-blue-700 underline">
        Whenever the company in contact with the passenger(s) has received information that any
        passenger :
    </p>

    <ul class="mb-6 list-disc pl-6">
        <li class="mb-2">
            Suffer from any disease which is believed by such person to be actively contagious and
            communicable;
        </li>
        <li class="mb-2">
            Who because of certain diseases, or incapacitation may have or develop an unusual
            behavior or physical condition, which could have an adverse effect on the welfare and
            comfort of other passengers and/or crew members;
        </li>
        <li class="mb-2">
            Can be considered to be a potential hazard to the safety of the flight or the
            punctuality thereof (including the possibility of a diversion of the flight and
            unscheduled landing);
        </li>
        <li class="mb-2">
            Would require medical attention and/or special equipment to maintain their health during
            the flight;
        </li>
        <li class="mb-2">
            Might have their medical condition aggravated during or because of the flight.
        </li>
    </ul>

    <p class="mb-4">
        Such passengers shall be subject to prior clearance for air travel by the medical
        departments/advisors of all Company(s) on the basis of information in respect of their
        physical and/or mental condition, obtained by the Company in contact with the passenger
        through its medical department/advisor directly or through a licensed physician familiar
        with the condition of the passenger. In order to obtain such clearance, medical information
        must be provided and transmitted when seats are requested.
    </p>

    <p class="font-semibold text-blue-700">
        Company can deny transportation to passengers needing medical clearance, unless they meet
        the requirements of the Company.
    </p>
</div>
