<h2 class="text-center text-2xl">REDEMPTION</h2>

<div class="card mb-12 mt-5">
    <p-table [value]="domestic" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center text-blue-600">DOMESTIC</th>
                <th class="text-center text-blue-600">ONE WAY MILEAGE</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td class="text-center" [innerHTML]="rowData.domestic"></td>
                <td class="text-center">{{ rowData.oneWay }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card">
    <p-table [value]="international" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center text-blue-600">INTERNATIONAL</th>
                <th class="text-center text-blue-600">ONE WAY MILEAGE</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
            <tr>
                <!-- <td class="text-center" >{{ rowData.domestic }}</td> -->
                <td class="text-center" [innerHTML]="rowData.international"></td>
                <td class="text-center">{{ rowData.oneWay }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
