<div>
    <h3 class="text-xl">How to Apply</h3>
    <p class="mb-4 mt-7 rounded-md bg-[#d9edf7] px-4 py-3">
        After first flight with SMILES ID, Customer can apply for NOVOAIR EBL Co-Branded Mastercard.
    </p>
</div>
<div>
    <p>
        Download the forms
        <a
            href="https://www.flynovoair.com/assets/documents/forms/EBL_Novo_Application_Forms.zip"
            class="text-blue-700 underline"
            >here!</a
        >
        The forms can be digitally filled using a PDF Reader Software (Adobe Acrobat Reader
        preferred). Or you can print out the forms and fill-up by hand. Once filled up, please check
        that:
    </p>
    <ul class="my-3 list-inside list-decimal space-y-2 rounded-md bg-[#f5f5f5] px-4 py-3">
        <li>You have attached a Passport Size Photograph with your name written at the back</li>
        <li>
            You have filled both the forms (<a
                href="https://www.flynovoair.com/assets/documents/forms/EBL_Novo_Application_Form.pdf"
                target="_blank"
                class="text-blue-700 underline"
                >Application form</a
            >
            and
            <a
                href="https://www.flynovoair.com/assets/documents/forms/EBL_Novo_KYC.pdf"
                target="_blank"
                class="text-blue-700 underline"
                >KYC</a
            >
            ) and signed with date
        </li>
        <li>Attached your Used Ticket COPY with SMILES ID</li>
        <li>You have attached required documents</li>
    </ul>
</div>

<div class="mt-6 rounded-md bg-[#d9edf7] px-4 pb-7 pt-5">
    <p class="">After completing the forms, please courier it in below format-</p>
    <p class="mt-5 font-semibold">NOVOAIR - EBL CO-BRANDED PREPAID CARD</p>
    <p class="mb-5 font-semibold">House-50, Road-11, Block-F, Banani, Dhaka-1213.</p>
    <p>
        Your card will be issued within a minimum of
        <span class="font-medium">15 working days</span>.
    </p>
</div>
