<div>
    <h3 class="text-xl">Card Activation</h3>
    <p class="mb-4 mt-4">
        Activate your card by submitting the signed Acknowledgement Slip at any EBL branch. Your
        card will be activated within 24 hours after submission.
    </p>
</div>
<div class="my-5">
    <h3 class="text-xl">Lost / Stolen Card</h3>
    <p class="mb-4 mt-4">
        Call EBL 24x7 Contact Center +88028332232 or 16230 to block the Card & visit any EBL branch
        to apply for a replacement of Card & PIN.
    </p>
</div>
<div>
    <h3 class="text-xl">Card Reload / Calendar Limit (Per Day)</h3>
    <ul class="mb-5 mt-3 space-y-3 rounded-md bg-[#d9edf7] px-8 py-4">
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                Maximum Re-load limit : <span class="font-semibold">BDT 100,000</span>
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                Payment Through POS : <span class="font-semibold">BDT 40,000</span> in 6
                transactions
            </div>
        </li>
        <li class="-ml-2 flex">
            <div class="-mt-1 flex-shrink-0">
                <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
            </div>
            <div class="ml-3">
                Withdrawal by ATM : <span class="font-semibold">BDT 50,000</span> in 6 transactions
            </div>
        </li>
    </ul>
</div>
