<div class="relative">
    <div class="min-w-2xl w-full overflow-hidden">
        <div
            class="h-96 border-none bg-cover bg-center"
            style="background-image: url('./assets/images/cox.png')"
        >
            <div
                class="flex h-full items-start justify-center bg-gradient-to-b from-[#ffffff] via-[#83cfe83b] to-[rgba(0,0,0,0.3)]"
            >
                <div class="text-center text-[#217f96]">
                    <h1 class="text-4xl font-extrabold">Cox's Bazar - The World's Longest</h1>
                    <h2 class="mt-4 text-2xl font-bold">
                        Natural Sandy <span class="text-3xl font-extrabold">Sea Beach</span>
                    </h2>
                    <p class="mx-2 mt-2 font-semibold sm:mx-0">
                        Discover the beauty of the 120 km long beach in Bangladesh
                    </p>
                    <button
                        (click)="bookNow()"
                        class="my-10 rounded-full bg-[#217f96] px-6 py-2 font-semibold text-white hover:bg-[#175a6b] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    >
                        Book Your Trip Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-14 mb-12 mt-28 text-center sm:mx-auto">
        <h1 class="mb-6 text-3xl font-bold text-[#217f96]">Explore Cox's Bazar</h1>

        <p class="mb-8 text-lg text-gray-600">
            Enjoy sunrises, safe swimming, and thrilling activities like surfing, jogging and
            <br />cycling along the beach
        </p>
    </div>

    <div class="mb-20 flex min-h-screen items-center justify-center">
        <div class="max-w-5xl overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="mr-20 py-16 pl-16">
                    <div class="mb-8 border-l-2 border-black pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Sunrise and Sunset</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Views</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Experience breathtaking views of sunrise and sunset over the Bay of
                            Bengal.
                        </p>
                    </div>

                    <div class="mb-8 pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Warm Shark-Free</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Water</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Enjoy swimming in the warm waters of Cox's Bazar without worrying about
                            sharks.
                        </p>
                    </div>

                    <div class="pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Activities</h3>
                        <h4 class="mt-2 text-xl text-gray-600"></h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Engage in exciting activities such as surfing, jogging along the beach,
                            and cycling.
                        </p>
                    </div>
                </div>

                <div class="flex h-full w-full justify-center py-16 md:block">
                    <div
                        class="mx-auto h-full w-[70%] bg-cover bg-center py-20"
                        style="background-image: url('./assets/images/cox0.png')"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
