<div class="mx-4 mt-24 md:mx-16">
    <h1 class="text-center text-3xl font-semibold text-blue-700">
        Ongoing <span class="text-3xl font-bold text-blue-800">Offers</span>
    </h1>

    <div class="mt-24 grid gap-6 md:grid-cols-2 lg:grid-cols-4">
        <div>
            <img
                class="absulute h-full w-full rounded-3xl shadow-sm md:h-[180px] md:w-[320px]"
                src="assets/images/offer.png"
                alt="Background Image"
            />
            <p-button
                class="relative -top-14 left-4"
                label="Get Offers"
                [rounded]="true"
                severity="info"
            />
        </div>
        <div>
            <img
                class="absulute h-full w-full rounded-3xl shadow-sm md:h-[180px] md:w-[320px]"
                src="assets/images/offer.png"
                alt="Background Image"
            />
            <p-button
                class="relative -top-14 left-4"
                label="Get Offers"
                [rounded]="true"
                severity="info"
            />
        </div>
        <div>
            <img
                class="absulute h-full w-full rounded-3xl shadow-sm md:h-[180px] md:w-[320px]"
                src="assets/images/offer.png"
                alt="Background Image"
            />
            <p-button
                class="relative -top-14 left-4"
                label="Get Offers"
                [rounded]="true"
                severity="info"
            />
        </div>
        <div>
            <img
                class="absulute h-full w-full rounded-3xl shadow-sm md:h-[180px] md:w-[320px]"
                src="assets/images/offer.png"
                alt="Background Image"
            />
            <p-button
                class="relative -top-14 left-4"
                label="Get Offers"
                [rounded]="true"
                severity="info"
            />
        </div>
    </div>
</div>
