<div class="relative -mt-6 mb-10 md:-mt-24 md:mb-20">
    <h1 class="mb-6 text-2xl font-bold text-blue-700">Wheel Chair</h1>
    <p class="mb-4">
        NOVOAIR accepts wheel chair passenger up to ramp (WCHR) only. Passengers need to board
        themselves through stair with limited assistance.
    </p>
    <p class="mb-6">
        <span class="font-bold text-blue-700 underline">Contact Point :</span>
        Passenger has to inform their ticketing agent while purchase tickets to include the 'Wheel
        Chair' remarks.
    </p>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">
        POLICY APPLICABLE FOR <span class="text-blue-800">INTERNATIONAL PASSENGERS ONLY</span>
    </h2>
    <p class="mb-6">
        NOVOAIR passengers availing
        <span class="font-bold text-blue-700">Wheel Chair</span> services in Kolkata Airport will be
        charged &#64; USD 10 net per usage with immediate effect. Every Arrival and Departure will
        be considered as separate single usage and shall be transacted accordingly.
    </p>

    <h3 class="mb-4 mt-8 text-lg font-bold text-blue-700 underline">
        Please contact for further query:
    </h3>
    <ul class="mb-6 list-disc pl-6">
        <li class="mb-2">
            Hazrat Shahjalal International Airport, <span class="font-semibold">Dhaka</span> :
            +8801708132614 / +8801755656601
        </li>
        <li class="mb-2">
            Netaji Subhash Chandra Bose International Airport,
            <span class="font-semibold">Kolkata</span> : +919874723603
        </li>
    </ul>

    <h2 class="mb-4 mt-8 text-xl font-bold text-blue-700">Stretcher</h2>
    <p class="mb-6">Stretcher service is not available at present condition.</p>
</div>
