<body class="md:mt- relative mx-6 mb-20 mt-12 md:-mt-8">
    <h1 class="mb-6 text-lg font-medium">
        Subject to the rules and conditions, NOVOAIR shall follow the policy concerning the carriage
        of UM and YP passenger are as follows:
    </h1>

    <ul class="mx-5">
        <li class="mb-4 mt-8 list-disc text-lg">
            <span class="mb-4 font-bold text-blue-700 underline">Un-accompanied Minors (UM):</span>
            All children between 5 and 11 years (i.e. up to but not including the 12th birthday),
            traveling on firm tickets and not accompanied by a person of at least 16 years of age.
        </li>

        <li class="mb-4 mt-8 list-disc text-lg">
            <span class="mb-4 font-bold text-blue-700 underline">Young Passengers (YP):</span>
            Minors from 12 to 15 years (i.e. up to the 16th birthday) traveling alone or not
            accompanied by a person of at least 16 years of age.
        </li>
    </ul>

    <p class="mb-6 mt-8">
        Sick or mentally handicapped children (of any age) are not normally accepted for travel
        unaccompanied. Young passengers can also be handled as UM. This is on request of the YP
        parents or guardian.
    </p>
</body>
