<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container">
            <h1 class="title text-3xl font-bold italic md:text-5xl">Company Information</h1>
        </div>
    </div>
</div>
<div class="m container relative -mt-16 md:-mt-36">
    <div class="my-8">
        <h1 class="sub-title">NOVOAIR</h1>
        <h1 class="mt-2 text-center text-lg text-gray-700">THE ART OF AVIATION</h1>
    </div>
    <img class="w-full rounded-3xl" src="assets/images/about.jpg" />
    <h1 class="my-2 mt-6">
        NOVOAIR established in 2007 with a vision of “Excellence in Aviation’’ and motto “ART of
        Aviation’’, which emanates from the conviction that NOVOAIR shall endeavor to provide the
        best of service to valued clients. We are committed to uphold On-Time Performance, Safety,
        Services and Comfort to our passengers. Over the time NOVOAIR has become the number one
        choice of air traveler in the country.
    </h1>
    <h1 class="my-2">
        NOVOAIR launched commercial operation on 9 Jan 2013 with Embraer 145 jet aircraft. Later the
        Embraer fleet was replaced with ATR 72-500 turboprop aircraft. The airline currently
        operates to all domestic destination of the country with lone International destination to
        Kolkata.
    </h1>
    <h1 class="my-2">
        NOVOAIR has a pathfinder role in the aviation landscape of Bangladesh and introducing modern
        travel tools, paperless ticketing and the first frequent flyer program “SMILES” among any
        Bangladeshi airlines in domestic routes, meaning Smile, Safe, Superb, Satisfactory &
        Services through “Miles’’ with the conjuncture word “SMILES”.
    </h1>
    <h1 class="my-2">
        NOVOAIR aspires to reach the highest level of customer’s satisfaction through an
        uncompromising commitment to safety, reliability, efficiency and stringent adherence to
        regulatory compliance. We have earned customer’s preference and employee trust through
        leadership, commitment and service. We invest our profits in people & services to grow. Our
        mission is to provide safe, reliable and friendly air services in partnership with our
        customers, suppliers and the communities we serve. One of our goals is to set ourselves the
        pinnacle of standards and we deliver on our promises.
    </h1>
    <h1 class="my-2 mb-6">
        NOVOAIR is committed to uphold On-Time Performance, Superior Services, Safety and Comfort.
        NOVOAIR, country’s “Best Domestic Airline” adjudged by “Monitor Airline of the Year”,
        becomes passengers first choice for air travel.
    </h1>
</div>
