<div class="mx-4 md:mx-auto md:max-w-[1200px] 2xl:max-w-[1300px] 3xl:max-w-[1500px]">
    <div class="rounded-rt-xl w-full rounded-t-xl bg-white/70 shadow-md backdrop-blur-md md:w-1/2">
        <div class="flex items-center">
            <div
                class="flex-1 cursor-pointer items-center gap-4 rounded-tl-xl py-1 text-center text-xs md:mt-0 md:text-sm"
                (click)="selectTab('Book a Flight')"
                [ngClass]="activeTab === 'Book a Flight' ? 'bg-white' : ''"
            >
                <span class="pi pi-send mr-1 text-[15px]"></span> Book a Flight
            </div>

            <div
                class="flex-1 cursor-pointer items-center gap-4 border-l-[3px] border-r-[3px] border-gray-300 py-1 text-center text-xs md:mt-0 md:text-sm"
                (click)="selectTab('Manage Booking')"
                [ngClass]="activeTab === 'Manage Booking' ? 'bg-white' : ''"
            >
                <span class="pi pi-calendar mr-1 text-[15px]"></span> Manage Booking
            </div>

            <div
                class="flex-1 cursor-pointer items-center gap-4 py-1 text-center text-xs md:mt-0 md:text-sm"
                (click)="navigateToMobileCheckIn()"
            >
                <span class="pi pi-mobile mr-1 text-[15px]"></span> Mobile Check-In
            </div>
        </div>
    </div>
    @if (activeTab === 'Book a Flight') {
        <app-book-card></app-book-card>
    } @else if (activeTab === 'Manage Booking') {
        <app-manage-book></app-manage-book>
    }
</div>
