<div class="mt-[4.70rem]">
    <img
        src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
        alt=""
        class="-z-10"
    />
    <div class="mx-24 -mt-48">
        <h1 class="text-3xl font-bold italic tracking-tighter text-[#017388]">
            SMILES Frequent Flyer
        </h1>
    </div>
    <div class="mx-24">
        <app-smiles-card></app-smiles-card>
    </div>
    <div class="text-md mx-24 mt-10 w-3/5 tracking-wide">
        <p>Welcome to the first Frequent Flyer program in Bangladesh! Take full</p>
        <p>
            NOVOAIR values your choice in our Service; and this is Our Way of Rewarding You for it.
        </p>
        <p>There’s plenty to look forward to when you fly with our NOVOAIR SMILES card.</p>
        <p>
            <span class="font-semibold text-[#00a3d0] underline">Enroll Now.</span> Take full
            advantage of your personal business-choice Airlines.
        </p>
    </div>
    <div class="mx-24 mt-24 rounded-xl shadow-md">
        <app-smiles-faq class=""></app-smiles-faq>
    </div>
</div>
