<!-- <div class="mt-[4.70rem]">
    <img
        src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
        alt=""
        class="-z-10"
    />
    <div class="mx-24 -mt-48">
        <h1 class="text-3xl font-bold italic tracking-tighter text-[#017388]">
            SMILES Frequent Flyer
        </h1>
    </div>
    <div class="mx-24">
        <app-smiles-card></app-smiles-card>
    </div>
    <div class="text-md mx-24 mt-10 w-3/5 tracking-wide">
        <p>Welcome to the first Frequent Flyer program in Bangladesh! Take full</p>
        <p>
            NOVOAIR values your choice in our Service; and this is Our Way of Rewarding You for it.
        </p>
        <p>There’s plenty to look forward to when you fly with our NOVOAIR SMILES card.</p>
        <p>
            <span class="font-semibold text-[#00a3d0] underline">Enroll Now.</span> Take full
            advantage of your personal business-choice Airlines.
        </p>
    </div>
    <div class="mx-24 mt-24 rounded-xl shadow-md">
        <app-smiles-faq class=""></app-smiles-faq>
    </div>
</div> -->

<div class="mt-16 md:mt-16">
    <div class="relative h-64">
        <img
            src="../../../assets/manage-booking/Green and White Gradient Health Facebook Cover.png"
            alt=""
            class="-z-10"
        />

        <div class="relative top-40 z-40 mx-6 -mt-60 md:top-24 md:mx-24">
            <h1 class="text-3xl font-bold italic tracking-tighter text-[#017388]">
                SMILES Frequent Flyer
            </h1>

            <div class="mt-16 w-full">
                <app-smiles-card></app-smiles-card>
            </div>
            <div class="text-md mt-10 w-full tracking-wide md:w-4/5">
                Welcome to the first Frequent Flyer program in Bangladesh! <br />
                Take full NOVOAIR values your choice in our Service; and this is Our Way of
                Rewarding You for it. <br />
                There’s plenty to look forward to when you fly with our NOVOAIR SMILES card. <br />

                <span class="font-semibold text-[#00a3d0] underline">Enroll Now.</span> Take full
                advantage of your personal business-choice Airlines.
            </div>
            <div class="mt-24 max-w-full rounded-xl shadow-md">
                <app-smiles-faq></app-smiles-faq>
            </div>
            <div class="h-32"></div>
        </div>
    </div>
</div>
