<div class="h-full items-center gap-4 rounded-xl bg-white p-2 md:flex md:h-20">
    <form
        [formGroup]="flightForm"
        class="mt-20 h-full w-full items-center justify-around rounded-xl border-2 border-gray-200 p-6 md:mt-0 md:flex md:h-16"
    >
        <div class="flex w-full items-center justify-between">
            <div class="card flex justify-center">
                <p-select
                    [options]="groupedCities"
                    formControlName="from"
                    placeholder="Form"
                    [group]="true"
                    [dropdownIcon]="'none'"
                    class="w-32 border-none shadow-none"
                >
                </p-select>
            </div>
            <i class="pi pi-arrow-up-right z-10 -ml-5 mr-5 md:mr-10"></i>
            <div class="card flex justify-center">
                <p-select
                    [options]="groupedCities"
                    formControlName="to"
                    placeholder="To"
                    [group]="true"
                    [dropdownIcon]="'none'"
                    class="w-32 border-none shadow-none"
                >
                </p-select>
            </div>
        </div>
        <div class="z-20 -ml-10 mr-6 hidden h-8 border border-gray-300 md:flex"></div>
        <div class="justify mt-4 flex w-full items-center justify-between md:mt-0">
            <p-datepicker
                formControlName="departure"
                placeholder="Departure"
                class="shadow-none"
            ></p-datepicker>
            <i class="pi pi-arrow-right-arrow-left mx-5"></i>
            <p-datepicker
                formControlName="return"
                placeholder="Return"
                class="shadow-none"
            ></p-datepicker>
        </div>
        <div class="mx-6 hidden h-8 border border-gray-300 md:flex"></div>
        <div
            class="justify ml-4 mt-4 flex w-1/2 items-center justify-between gap-5 sm:ml-0 md:mt-0"
        >
            <input
                type="number"
                formControlName="adults"
                class="h-10 w-20 rounded-md border-none outline-none"
                placeholder="Adults"
            />
            <input
                type="number"
                formControlName="children"
                class="h-10 w-20 rounded-md border-none outline-none"
                placeholder="Children"
            />
        </div>
    </form>
    <div>
        <div class="mb-7 mt-6 flex h-10 md:-mt-[75px]">
            <form [formGroup]="flightForm">
                <p-button
                    (click)="showDialog()"
                    label=""
                    class=""
                    styleClass="rounded-3xl px-5 bg-white text-black border-none hover:bg-blue-50"
                    ><i class="pi pi-plus"></i>Promo Code</p-button
                >
                <p-dialog
                    [modal]="true"
                    [(visible)]="visible"
                    [style]="{ width: '25rem', height: '15rem' }"
                >
                    <div class="z-50 mb-4 flex flex-row items-center gap-4">
                        <div>
                            <input
                                pInputText
                                id="promocode"
                                class="h-8 w-40 flex-auto border p-2 text-center"
                                autocomplete="off"
                                formControlName="promocode"
                                placeholder="Enter Promo Code"
                                (input)="validatePromoCode()"
                            />
                            @if (promoCodeError) {
                                <p class="text-red-500">{{ promoCodeError }}</p>
                            }
                        </div>

                        <div
                            class="flex justify-end gap-2"
                            [ngClass]="{ '-mt-6': promoCodeError.length > 0 }"
                        >
                            <p-button
                                label="Cancel"
                                styleClass="btn-primary text-[15px] py-[6px] mt-[2px]"
                                (click)="visible = false"
                            />
                            <p-button
                                label="Submit"
                                styleClass="btn-primary text-[15px] py-[6px] mt-[2px]"
                                (click)="visible = false"
                                [disabled]="!isPromoValid"
                            />
                        </div>
                    </div>
                </p-dialog>
            </form>
        </div>
        <div
            class="btn-primary mt-4 flex h-16 w-48 cursor-pointer items-center justify-center gap-2 rounded-full px-4 shadow-sm md:mt-0"
            (click)="searchFlights()"
        >
            <i class="pi pi-search"></i>
            <button type="button">Search Flights</button>
        </div>
    </div>
</div>
