<div class="relative">
    <div class="min-w-2xl w-full overflow-hidden">
        <div
            class="h-96 border-none bg-cover bg-center"
            style="background-image: url('../assets/images/kolkata1.jpg')"
        >
            <div
                class="flex h-full items-start justify-center bg-gradient-to-b from-[#ffffff] via-[#83cfe86d] to-[rgba(0,0,0,0.5)]"
            >
                <div class="text-center text-[#217f96]">
                    <h1 class="text-4xl font-extrabold">Kolkata - Where History Meets Culture</h1>
                    <h2 class="mt-4 text-2xl font-bold">
                        Cultural Richness Hooghly
                        <span class="text-3xl font-extrabold"> River</span>
                    </h2>
                    <p class="mt-2 font-semibold">
                        A city tradition with modernity, offering a unique experience at every
                        corner.
                    </p>
                    <button
                        class="my-10 rounded-full bg-[#217f96] px-6 py-2 font-semibold text-white hover:bg-[#175a6b] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    >
                        Book Your Trip Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto mb-12 mt-28 text-center">
        <h1 class="mb-6 text-3xl font-bold text-[#217f96]">Explore Kolkata</h1>

        <p class="mb-8 text-lg text-gray-600">
            Kolkata, the cultural and commercial hub of East India, blends rich history, vibrant
            markets <br />and the Hooghly River.
        </p>
    </div>

    <div class="flex min-h-screen items-center justify-center">
        <div class="max-w-5xl overflow-hidden">
            <div class="flex flex-col-reverse md:grid md:grid-cols-2">
                <div class="mr-20 py-16 pl-16">
                    <div class="mb-8 border-l-2 border-black pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Kolkata's Vibrance</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Views</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Explore the historical and cultural landmarks in Kolkata.
                        </p>
                    </div>

                    <div class="mb-8 pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Cultural Richness</h3>
                        <h4 class="mt-2 text-xl text-gray-600">Heritage</h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Experience Kolkata's rich history, vibrant markets, and iconic colonial
                            architecture.
                        </p>
                    </div>

                    <div class="pl-10">
                        <h3 class="text-2xl font-bold text-gray-800">Activities</h3>
                        <h4 class="mt-2 text-xl text-gray-600"></h4>
                        <p class="mt-4 leading-relaxed text-gray-700">
                            Explore bustling streets, visit museums, and enjoy boat rides along the
                            Hooghly River.
                        </p>
                    </div>
                </div>

                <div class="flex h-full w-full justify-center py-16 md:block">
                    <div
                        class="mx-auto h-full w-[70%] bg-cover bg-center py-32"
                        style="background-image: url('../assets/images/kolkata2.jpg')"
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20 flex items-center justify-center md:mt-24">
        <div
            class="mx-auto flex max-w-4xl flex-col items-center rounded-lg bg-white md:flex md:max-h-56 md:flex-row md:items-stretch md:shadow-lg"
        >
            <div class="w-1/2">
                <img
                    src="../assets/images/kolkata3.jpg"
                    alt="Beautiful place"
                    class="h-full w-full rounded-l-none rounded-t-lg object-cover md:rounded-l-lg md:rounded-tr-none"
                />
            </div>
            <div class="w-1/2 rounded-b-lg border px-6 pb-4 md:rounded-r-lg md:pb-0">
                <div class="mt-10 flex justify-center md:mt-0">
                    <button
                        class="text-md rounded-md bg-slate-600 px-3 py-1 font-semibold text-white md:rounded-bl-lg md:rounded-br-lg md:rounded-tl-none md:rounded-tr-none"
                    >
                        Book now
                    </button>
                </div>

                <p class="mt-4 text-center text-lg font-semibold">Discover</p>

                <p class="text-center text-xl font-bold">Kolkata's Culture</p>
                <hr class="h mx-24 my-3" />
                <p class="text-center text-sm md:px-10">
                    A city of history, culture, and heritage, offering colonial architecture,
                    vibrant markets, and <br />the beauty of Hooghly River.
                </p>
            </div>
        </div>
    </div>
</div>
