:host {
    display: block;
}

.text-programme {
    white-space: nowrap;
    &::after {
        content: ' Programme';
    }

    @media (max-width: 565px) {
        &::after {
            content: '\A Programme';
            white-space: pre;
        }
    }
}
