<div class="relative h-28 md:h-64">
    <img class="absolute w-full" src="assets/images/hero-cover.png" alt="Background Image" />
    <div class="relative top-4 z-40 md:top-10">
        <div class="container">
            <h1 class="title text-3xl font-bold italic md:text-5xl">
                Cancellation and Refund Policies
            </h1>
        </div>
    </div>
</div>
<h1 class="container relative text-xl font-bold text-blue-700 md:-mt-24">
    As per <span class="text-blue-800">NOVOAIR</span> policy mentioned in the ticket.
</h1>
