<ul class="mt-5 space-y-3 pl-5">
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            Application for membership of SMILES FFP is open to any individual who is at least 18
            years of age. A corporation, firm, partnership or other entity is not eligible to become
            a Member.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            NOVOAIR may require additional information for Account validation purposes in respect of
            any change to a Member's personal details.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            NOVOAIR will issue a Member with a permanent membership number against which his or her
            Miles will be accrued. The membership card may state an expiry date and, if so, is only
            valid for use up to that expiry date. The membership card may only be used by the Member
            named on that card.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            Member Accounts will be available to a Member online while NOVOAIR considers him or her
            to be an active SMILES Member and will include information concerning SMILES Miles
            accrued, redeemed and expired.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            A membership card is not transferable and at all times remains the property of NOVOAIR.
            A Member must return his or her membership card without delay to any NOVOAIR Contact
            Centre whenever requested by NOVOAIR or any other party acting on its behalf. A Member
            must immediately report a lost membership card to any NOVOAIR Contact Centre.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            NOVOAIR gives no warranty or assurance in relation to such tax, duties or other
            liabilities. All tax, duties and other liabilities arising from the accumulation of
            SMILES Miles or the receipt and use of SMILES Rewards are and remain the sole
            responsibility of the Member and must be paid on the time of issuance of any Reward.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            A Member may at any time cancel his or her membership by advising in writing or
            returning his or her membership card to any NOVOAIR Contact Centre.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            Membership is not transferable or not endorsable. A Member is not permitted to hold more
            than one Account. All Miles and Rewards under NOVOAIR SMILES FFP are accrued by or
            issued to the Member in his or her Member Account.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            NOVOAIR may in its absolute discretion suspend, cancel or terminate a membership or a
            member's accumulated SMILES Miles at any time. NOVOAIR reserves the right to terminate
            the membership in the event of a breach of the Program Rules by a Member. Miles
            accumulated prior to termination in these circumstances will be immediately cancelled.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            Members are responsible for keeping their name, e-mail and mailing addresses up to date
            on-line. Account changes requests, including personal information, must be submitted in
            writing to any NOVOAIR Contact Centers with the account number and member’s signature.
            Failure to update member information may result in the cancellation of further mailings
            until accurate information is provided.
        </div>
    </li>
    <li class="-ml-2 flex">
        <div class="-mt-1 flex-shrink-0">
            <i class="pi pi-circle-fill text-[7px] text-blue-700"></i>
        </div>
        <div class="ml-3">
            After Successful enrollment if any member wishes to change his/her name (minor
            modification), s/he has to send Email at
            <span class="cursor-pointer text-blue-600 hover:underline" (click)="openMail()"
                >smiles&#64;flynovoair.com</span
            >
            or mail us at: In-charge, SMILES Frequent Flyer Program, NOVOAIR Ltd. House: 50, Road:
            11, Block: F, Banani, Dhaka. The mail must be contains following information: Present
            Name, New Name, SMILES ID, Mobile No. & Email Address (email must be according to FFP
            account).
        </div>
    </li>
</ul>
